.list {
    color: white;
    padding-left: var(--space-5);
    height: 100%;
    overflow-y: auto;
    display: block;
    font-weight: var(--font-weight-1);
}

.header {
    display: block;
    margin-bottom: var(--space-5);
    overflow: hidden;
    color: var(--contrast-text-color);
    background-color: var(--header-background-color);
}

.title, .type {
    position: relative;
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-4);
    line-height: 38pt;
    margin-left: var(--space-1);
    /*Make room for focus outline*/
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    margin-right: var(--space-5);
    margin-top: var(--space-1);
    display: block;
}

.type {
    float: left;
    margin-right: var(--space-5);
    display: none;
    /*Change this to display type (e.g. for accessibility)*/
}

/* Menus */

.menus {
    display: block;
}

.menu, .header .action {
    display: block;
    float: left;
    padding: var(--space-3);
    margin-top: 0px;
    margin-left: var(--space-1);
    /*Else hover outline is hidden on the left-most menu */
    margin-right: var(--space-4);
    margin-bottom: var(--space-3);
    /*Else hover outline is hidden on the bottom */
    font-size: var(--font-size-3);
}

.menu:disabled, .ok:disabled {
    color: var(--disabled-color);
}

.summary {
    display: block;
    width: var(--table-width);
    font-size: var(--font-size-2);
    margin-bottom: var(--space-4);
    overflow: hidden;
}

.details {
    padding-left: 40px;
    width: var(--table-width);
    float: left;
}

.icon {
    display: block;
    cursor: pointer;
    float: right;
    width: 20px;
    height: var(--field-value-height);
    padding-top: var(--space-3);
    padding-left: var(--space-3);
    margin-right: var(--space-3);
}

.icon.list {
    background: var(--list-icon);
    background-size: cover;
}

.icon.table {
    background: var(--table-icon);
    background-size: cover;
}
