<div class="name">
    <label attr.for="{{parameterPaneId}}">{{title}}</label>
</div>

<div *ngIf="parameterType === 'ref'">
    <div class="value">{{formattedValue}}</div>
</div>

<div *ngIf="parameterType === 'scalar'" >
    <div [ngSwitch]="parameterReturnType">
        <div *ngSwitchCase="string">
            <div *ngIf="!isMultiline" class="value">
                {{formattedValue}}
            </div>
            <div *ngIf="isMultiline" class="value multiline" [ngStyle]="{height : multilineHeight}">
                <pre>{{formattedValue}}</pre>
            </div>
        </div>

        <div *ngSwitchCase="'boolean'">
            <input type="checkbox" [checked]="value" disabled="disabled" />
        </div>

        <div *ngSwitchDefault>
            <div class="value">{{formattedValue}}</div>
        </div>
    </div>
</div>




