:host {
    width: 245px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.multiline {
    overflow: auto;
}

.reference {
    cursor: pointer;
}