<div class="summary">
    <div class="name">{{title}}:</div>
    <div class="details">{{details}}</div>
    <div>
        <img *ngIf="showSummary()" class="icon-summary" (click)="doSummary()" src="../../assets/summary.png" title="Close Collection" />
        <img *ngIf="showList()" class="icon-list" (click)="doList()" src="../../assets/list.png" title="View as List" />
        <img *ngIf="showTable()" class="icon-table" (click)="doTable()" src="../../assets/table.png" title="View as Table" />
    </div>
</div>
<div class="messages">{{message}}</div>
<nof-action-bar *ngIf="showActions()" class="actions" [menuHolder]="collection"></nof-action-bar>
<nof-dialog *ngIf="showActions()" [parent]="collection" [selectedDialogId]="selectedDialogId"></nof-dialog>

<table>
    <thead>
        <tr nof-header [collection]="collection" [state]="currentState"></tr>
    </thead>
    <tbody *ngIf="state === 'list' || hasTableData()">
        <tr *ngFor="let item of items; let i = index" nof-row [item]="item" [index]="i" [withCheckbox]="!disableActions()" [isTable]="state === 'table'"></tr>
    </tbody>
</table>