:host {
    display: block;
}

:host:not(:last-child) {
    margin-bottom: 20px;
}

.summary {
    display: block;
    width: 450px;
    font-size: 12pt;
    margin-bottom: 10px;
    overflow: hidden; /*To make div same depth as its floating children*/
}

.name, .details {
    display: block;
    float: left;
    padding-left: 0px; /*Because it is a heading, so outdented*/
    padding-right: 5px;
}

.name {
    width: 150px;
}

.details {
    width: 245px;
}

.icon {
    display: block;
    cursor: pointer;
    float: right;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-top: 5px;
    margin-right: 5px;
   
}

.icon.summary {
  background: url("../../assets/summary.png");
   background-size: cover;  
}
.icon.list {
 background: url("../../assets/list.png");
  background-size: cover;  
} 
.icon.table {
 background: url("../../assets/table.png");
  background-size: cover;  
}