<div class="summary">
    <div class="name">{{title}}:</div>
    <div class="details">{{details}}</div>
    <div>
        <img *ngIf="showSummary()" class="icon-summary" (click)="doSummary()" src="../../assets/summary.png" title="Close Collection" />
        <img *ngIf="showList()" class="icon-list" (click)="doList()" src="../../assets/list.png" title="View as List"/>
        <img *ngIf="showTable()" class="icon-table" (click)="doTable()" src="../../assets/table.png" title="View as Table"/>
    </div>
</div>
<div class="messages">{{message}}</div>
<nof-action-list *ngIf="showActions()" class="actions" [menu]="collection"></nof-action-list>
<nof-dialog *ngIf="showActions()" [parent]="collection" [selectedDialogId]="selectedDialogId"></nof-dialog>

<table *ngIf="state == 'table'">
    <thead>
    <tr>
        <th [hidden]="(disableActions() || noItems())"><input type="checkbox" [id]="itemId('all')" [ngModel]="allSelected()" (click)="selectAll()">All</th>
        <th *ngFor="let heading of header" scope="col">
            {{heading}}
        </th>
    </tr>
    </thead>
    <tbody *ngIf="hasTableData()">
        <tr *ngFor="let item of items; let i = index" [ngClass]="itemColor(item)" class="clickable-area"  gemini-drag tabindex="0">
            <td [hidden]="disableActions()" class="checkbox">
			     <input type="checkbox" [id]="itemId(i)" [(ngModel)]="item.selected">
			</td>
            <td *ngIf="itemHasTableTitle(item)" class="cell" geminiClick (leftClick)="doItemClick(item)" (rightClick)="doItemClick(item, true)">
                {{itemTableTitle(item)}}
            </td>
            <td *ngFor="let property of itemTableProperties(item)" geminiClick (leftClick)="doItemClick(item)" (rightClick)="doItemClick(item, true)" [ngClass]="itemColor(item)" class="cell">
                <div  [ngSwitch]="propertyType(property)">
                    <div *ngSwitchCase="'ref'" class="clickable-area">
                        {{propertyFormattedValue(property)}}
                    </div>
                    <div *ngSwitchCase="'scalar'" [ngSwitch]="propertyReturnType(property)">
                        <div *ngSwitchCase="'boolean'" class="clickable-area">
                            <input type="checkbox" [checked]="propertyValue(property)" disabled="disabled" />
                        </div>
                        <div *ngSwitchCase="'number'" class="clickable-area">
                            <div class="clickable-area number">{{propertyFormattedValue(property)}}</div>
                        </div>
                        <div *ngSwitchDefault class="clickable-area">
                            <div class="clickable-area">{{propertyFormattedValue(property)}}</div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table *ngIf="state == 'list'">
    <thead>
        <tr>
            <th [hidden]="(disableActions() || noItems())"><input type="checkbox" [id]="itemId('all')" [ngModel]="allSelected()" (click)="selectAll()">All</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items; let i = index" [ngClass]="itemColor(item)">
            <td class="checkbox" [hidden]="disableActions()">
                <input type="checkbox" [id]="itemId(i)" [(ngModel)]="item.selected">
            </td>
            <td class="reference clickable-area" gemini-drag geminiClick (leftClick)="doItemClick(item)" (rightClick)="doItemClick(item, true)" tabindex="0">
                {{itemTitle(item)}}
            </td>
        </tr>
    </tbody>
</table>