<div class="summary">
    <div class="name">{{title}}:</div>
    <div class="details">{{details}}</div>
    <div *ngIf="mayHaveItems">
        <img *ngIf="state == 'table' || state == 'list'" class="icon-summary clickable-area" (click)="doSummary()" src="../../images/summary.png" title="Close Collection" />
        <img *ngIf="state == 'table' || state == 'summary'" class="icon-list clickable-area" (click)="doList()" src="../../images/list.png" title="View as List"/>
        <img *ngIf="state == 'list'  || state == 'summary'" class="icon-table clickable-area" (click)="doTable()" src="../../images/table.png" title="View as Table"/>
    </div>
</div>
<table *ngIf="state == 'table'">
    <thead>
    <tr>
        <th [hidden]="(disableActions() || noItems())"><input type="checkbox" id="all" [ngModel]="allSelected()" (click)="selectAll()">All</th>
        <th *ngFor="let heading of header" scope="col">
            {{heading}}
        </th>
    </tr>
    </thead>
    <tbody *ngIf="hasTableData()">
        <tr *ngFor="let item of items; let i = index" [ngClass]="itemColor(item)" class="clickable-area" geminiClick (leftClick)="doItemClick(item)" (rightClick)="doItemClick(item, true)" gemini-drag tabindex="0">
            <td [hidden]="disableActions()" class="checkbox">
			     <input type="checkbox" [id]="itemId(i)" [(ngModel)]="item.selected">
			</td>
            <td *ngIf="itemHasTableTitle(item)" class="cell">
                {{itemTableTitle(item)}}
            </td>
            <td *ngFor="let property of itemTableProperties(item)" (click)="doItemClick()" [ngClass]="itemColor(item)" class="cell">
                <div  [ngSwitch]="propertyType(property)">
                    <div *ngSwitchCase="'ref'" class="clickable-area">
                        {{propertyFormattedValue(property)}}
                    </div>
                    <div *ngSwitchCase="'scalar'" [ngSwitch]="propertyReturnType(property)">
                        <div *ngSwitchCase="'boolean'" class="clickable-area">
                            <input type="checkbox" [checked]="propertyValue(property)" disabled="disabled" />
                        </div>
                        <div *ngSwitchCase="'number'" class="clickable-area">
                            <div class="clickable-area number">{{propertyFormattedValue(property)}}</div>
                        </div>
                        <div *ngSwitchDefault class="clickable-area">
                            <div class="clickable-area">{{propertyFormattedValue(property)}}</div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table *ngIf="state == 'list'">
    <tbody>
        <tr *ngFor="let item of items; let i = index" [ngClass]="itemColor(item)" geminiClick (leftClick)="doItemClick(item)" (rightClick)="doItemClick(item, true)">
            <td class="checkbox" [hidden]="disableActions()">
				<input type="checkbox" [id]="itemId(i)" [(ngModel)]="item.selected">
			</td>
            <td class="reference clickable-area" gemini-drag tabindex="0">
                {{itemTitle(item)}}
            </td>
        </tr>
    </tbody>
</table>