.suggestions ul {
    list-style-type: none;
    width: var(--field-value-width);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 0px;
    font-family: var(--font-text-family);
    font-size: var(--font-size-1);
    padding-left: 0px;
    font-weight: var(--font-weight-3);
}

.validation {
    font-family: var(--font-text-family);
    font-size: var(--font-size-1);
}

input {
    width: var(--field-value-width);
    padding-left: var(--space-3);
    border-style: solid;
    border-width: 1px;
    border-color: Grey;
}

li a {
    padding-left: var(--space-3);
}

li:hover, .selected {
    background-color: var(--header-background-color);
    background-color: grey;
}

/* clear button on non-empty input field*/

.ng-clearable {
    background-image: var(--clearable-image);
    background-repeat: no-repeat;
    background-position: right -10px;
    background-size: 8px;
}

.ng-clearable[class*="link-color"] {
    background-image: var(--clearable-link-image);
}

.ng-clearable.ng-x {
    background-position: right 2px center;
}

.ng-clearable.ng-onX {
    cursor: pointer;
}

input::-ms-clear {
    display: none;
}

/* drag and drop in an auto-complete field */

.value.droppable {
    border: solid;
    border-width: 1px;
    width: var(--field-value-width);
    height: var(--field-value-height);
}

.value.droppable {
    border-color: black;
}

.value.droppable.dnd-drag-over.candrop {
    border-color: var(--approval-color);
}

.value.droppable.dnd-drag-over {
    border-color: var(--warning-color);
}