.suggestions ul {
    list-style-type: none;
    width: 245px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 0px;
    font-family: 'Segoe UI';
    font-size: 10pt;
    padding-left: 0px;
    font-weight: 400;
}

.validation {
    font-family: 'Segoe UI';
    font-size: 10pt;
}

input {
    width: 245px;
    padding-left: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: Grey;
}

li a {
    padding-left: 5px;
}

li:hover, .selected {
    background-image: var(--header-background-image);
    background-color: grey;
}

/* clear button on non-empty input field*/

.ng-clearable {
    background-image: var(--clearable-image);
    background-repeat: no-repeat;
    background-position: right -10px;
    background-size: 8px;
}

.ng-clearable[class*="link-color"] {
    background-image: var(--clearable-link-image);
}

.ng-clearable.ng-x {
    background-position: right 2px center;
}

.ng-clearable.ng-onX {
    cursor: pointer;
}

input::-ms-clear {
    display: none;
}

/* drag and drop in an auto-complete field */

.value.droppable {
    border: solid;
    border-width: 1px;
    width: 245px;
    height: 20px;
}

.value.droppable {
    border-color: black;
}

.value.droppable.dnd-drag-over.candrop {
    border-color: var(--approval-color);
}

.value.droppable.dnd-drag-over {
    border-color: var(--warning-color);
}