<ng-container *ngIf="collection">
    <div class="list">
        <header class="header">
            <div class="title">{{title}}</div>
            <nof-action-bar [actions]="actionHolders"></nof-action-bar>
            <div class="messages">{{message}}</div>
        </header>
        <div class="details" *ngIf="size === 0">{{description}}</div>
        <ng-container *ngIf="size > 0">
            <nof-action-list *ngIf="showActions()" [menuHolder]="collection"></nof-action-list>
            <nof-dialog [parentVM]="collection" [selectedDialogId]="selectedDialogId"></nof-dialog>
            <div class="summary">
                <div class="details">{{description}}</div>
                <div *ngIf="state === 'list'" class="icon table" (click)="doTable()"  title="View as Table" alt="View as Table"></div>
                <div *ngIf="state === 'table'" class="icon list" (click)="doList()"  title="View as List" alt="View as List"></div>
             </div>
             <table>
                    <thead>
                        <tr nof-header [collection]="collection" [state]="currentState"></tr>
                    </thead>
                    <tbody *ngIf="state === 'list' || hasTableData()" cdkDropList [cdkDropListConnectedTo]="dropZones" [cdkDropListOrientation]="'horizontal'">
                        <tr *ngFor="let item of items; let i = index" cdkDrag [cdkDragData]="item" nof-row [item]="item" [row]="i" [withCheckbox]="!disableActions()" [isTable]="state === 'table'"></tr>
                    </tbody>
                </table>
        </ng-container>
    </div>
</ng-container>