:host {
    display: block;
}

:host:not(:last-child) {
    margin-bottom: var(--space-5);
}

.summary {
    display: block;
    width: var(--table-width);
    font-size: var(--font-size-2);
    margin-bottom: var(--space-4);
    overflow: hidden;
    /*To make div same depth as its floating children*/
}

.name, .details {
    display: block;
    float: left;
    padding-left: 0px;
    /*Because it is a heading, so outdented*/
    padding-right: var(--space-3);
}

.name {
    width: 150px;
}

.details {
    width: var(--field-value-width);
}

.icon {
    display: block;
    cursor: pointer;
    float: right;
    width: 20px;
    height: var(--field-value-height);
    padding-left: var(--space-3);
    padding-top: var(--space-3);
    margin-right: var(--space-3);
}

.icon.summary {
    background: var(--summary-icon);
    background-size: cover;
}

.icon.list {
    background: var(--list-icon);
    background-size: cover;
}

.icon.table {
    background: var(--table-icon);
    background-size: cover;
}