<div *ngIf="collection">
    <div class="list">
        <header class="header">
            <div class="title">{{title}}</div>
            <nof-action-bar [actions]="actionHolders"></nof-action-bar>
            <div class="messages">{{message}}</div>
        </header>
        <div class="details" *ngIf="size == 0">{{description}}</div>
        <div *ngIf="size > 0">
            <nof-action-list *ngIf="showActions()" [menuHolder]="collection"></nof-action-list>
            <nof-dialog [parent]="collection" [selectedDialogId]="selectedDialogId"></nof-dialog>
            <div class="summary" *ngIf="state == 'list'">
                <div class="details">{{description}}</div>
                <img class="icon-table" (click)="doTable()" src="../../assets/table.png" title="View as Table" />
                <table>
                    <thead>
                        <tr>
                            <th [hidden]="hideAllCheckbox()"><input type="checkbox" [id]="itemId('all')" [ngModel]="allSelected()" (click)="selectAll()">All</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items; let i = index">
                            <nof-row [item]="item" [index]="i" [withCheckbox]="!disableActions()" [isTable]="false"></nof-row>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="summary" *ngIf="state == 'table'">
                <div class="details">{{description}}</div>
                <img class="icon-list" (click)="doList()" src="../../assets/list.png" title="View as List" />
            </div>
            <table *ngIf="state == 'table'">
                <thead>
                    <tr>
                        <th [hidden]="hideAllCheckbox()"><input type="checkbox" [id]="itemId('all')" [ngModel]="allSelected()" (click)="selectAll()">All</th>
                        <th *ngFor="let heading of header" scope="col">
                            {{heading}}
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="hasTableData()">
                    <tr *ngFor="let item of items; let i = index">
                        <nof-row [item]="item" [index]="i" [withCheckbox]="!disableActions()" [isTable]="true"></nof-row>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>