<div [attr.id]="paneIdName()" *ngIf="collection" [ngClass]="paneType">
	<div class="list">
		<header class="header">
			<div class="title">{{title}}</div>
            <div class="menus">
                <div class="menu clickable-area" tabindex="0" (click)="toggleActionMenu()" [attr.disabled]="disableActions()" title={{actionsTooltip}}>
                    Actions
                </div>
                <div class="action clickable-area" tabindex="0" (click)="reloadList()">
                    Reload
                </div>
                <div class="action clickable-area" tabindex="0" (click)="pageFirst()" [attr.disabled]="pageFirstDisabled()">
                    First
                </div>
                <div class="action clickable-area" tabindex="0" (click)="pagePrevious()" [attr.disabled]="pagePreviousDisabled()">
                    Previous
                </div>
                <div class="action clickable-area" tabindex="0" (click)="pageNext()" [attr.disabled]="pageNextDisabled()">
                    Next
                </div>
                <div class="action clickable-area" tabindex="0" (click)="pageLast()" [attr.disabled]="pageLastDisabled()">
                    Last
                </div>
            </div>
			<div class="messages">{{message}}</div>
		</header>
		<div class="details" *ngIf="size == 0">{{description}}</div>
		<div *ngIf="size > 0">
			<actions class="actions" *ngIf="showActions()" [menu]="collection"></actions>
			<app-dialog [parent]="collection"></app-dialog>
			<div class="summary" *ngIf="state == 'list'">
				<div class="details">{{description}}</div>
				<img class="icon-table clickable-area" (click)="doTable()" src="../../images/table.png" title="View as Table"/>
				<table>
					<thead>
						<tr>
							<th [hidden]="hideAllCheckbox()"><input type="checkbox" id="itemId('all')" [ngModel]="allSelected()" (click)="selectAll()">All</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of items; let i = index">
							<td class="checkbox" [hidden]="disableActions()">
								<input type="checkbox" [id]="itemId(i)" [(ngModel)]="item.selected">
							</td>
							<td #rw class="reference clickable-area" [ngClass]="itemColor(item)" geminiClick (leftClick)="doItemClick(item)" (rightClick)="doItemClick(item, true)"
								dnd-draggable [dragEnabled]="true" [dragData]="item" (keydown)="cut($event, item)" (keypress)="cut($event, item)" tabindex="0">
								<label attr.for="{itemId(i)}}">{{itemTitle(item)}}</label>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="summary" *ngIf="state == 'table'">
				<div class="details">{{description}}</div>
				<img class="icon-list clickable-area" (click)="doList()" src="../../images/list.png" title="View as List" />
			</div>
			<table *ngIf="state == 'table'">
				<thead>
					<tr>
						<th [hidden]="hideAllCheckbox()"><input type="checkbox" id="itemId('all')" [ngModel]="allSelected()" (click)="selectAll()">All</th>
						<th *ngFor="let heading of header" scope="col">
							{{heading}}
						</th>
					</tr>
				</thead>
				<tbody *ngIf="hasTableData()">
					<tr #rw tabindex="0" *ngFor="let item of items; let i = index" class="clickable-area" gemini-drag>
						<td [hidden]="disableActions()" class="checkbox">
							<input type="checkbox" [id]="itemId(i)" [(ngModel)]="item.selected">
						</td>
						<td *ngIf="itemHasTableTitle(item)" (click)="doItemClick()" [ngClass]="itemColor(item)" class="cell">
							{{itemTableTitle(item)}}
						</td>
						<td *ngFor="let property of itemTableProperties(item)" geminiClick (leftClick)="doItemClick(item)" (rightClick)="doItemClick(item, true)"
							[ngClass]="itemColor(item)" class="cell">
							<div [ngSwitch]="propertyType(property)">
								<div *ngSwitchCase="'ref'" class="clickable-area">
									{{propertyFormattedValue(property)}}
								</div>
								<div *ngSwitchCase="'scalar'" [ngSwitch]="propertyReturnType(property)">
									<div *ngSwitchCase="'boolean'" class="clickable-area">
										<input type="checkbox" [checked]="propertyValue(property)" disabled="disabled" />
									</div>
									<div *ngSwitchCase="'number'" class="clickable-area">
										<div class="clickable-area number">{{propertyFormattedValue(property)}}</div>
									</div>
									<div *ngSwitchDefault class="clickable-area">
										<div class="clickable-area">{{propertyFormattedValue(property)}}</div>
									</div>
								</div>
							</div>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div [attr.id]="paneIdName()"  *ngIf="!collection" [ngClass]="paneType">
	<div class="list">
		<div class="header">
			<div class="title">
				{{title}}
			</div>
			<div class="action clickable-area" tabindex="0" (click)="reload()">
				Reload
			</div>
		</div>
	</div>
</div>
<router-outlet (activate)="onChild()" (deactivate)="onChildless()"></router-outlet>