.cicero, .cicero input, .cicero pre {
    background-color: black;
    color: green;
    font-size: 18pt;
    font-family: Courier New, Courier, monospace;
    font-weight: var(--font-weight-2);
}

.cicero {
    width: 100%;
    border: none;
}

    .cicero .output {
        margin: 27px;
    }

    .cicero input {
        border-color: green;
        border-width: 2px;
        border: solid;
        padding: 5px;
        margin: 20px;
        width: 95%;
    }
