*.user
*.suo
*.nupkg
/packages
/test-results
/TestResults
/build
/coverage
**/bin
**/obj
**/bld
UpgradeLog.htm
*.zip
*.mdf
*.ldf
Documentation/~$veloperManual.docx
Core - Richard.sln
nog-packages.txt
*.orig
*.DotSettings
.vs/config/applicationhost.config
/Spa2
