*.user
*.suo
!**/Template/*/.suo
!**/Template/*/*.user
*.nupkg
/packages
/Template/packages
/test-results
/TestResults
/build
/coverage
/Scratchpad
**/bin
**/obj
**/bld
UpgradeLog.htm
*.mdf
*.ldf
Documentation/~$veloperManual.docx
nog-packages.txt
*.orig
*.DotSettings
*.dll
.vs/config/applicationhost.config
/Template_NOF8/NakedObjects.Template/Scripts/*.map
/Template_NOF8/NakedObjects.Template/Scripts/*.js
Spa2/nakedobjectsspa/.vs/config/applicationhost.config
*.tgz
.vs/
Test/NakedObjects.PerformanceTest/Reflect/awnames.txt
Test/NakedObjects.PerformanceTest/Reflect/dspnames.txt
Test old
Demo/NakedObjects.Rest.App.Demo/nakedobjects.log
Backup*/
UpgradeLog*.htm
*.log
ScratchServer.sln
Demo/NakedFunctions.Rest.App.Demo.Debug/appsettings.Development.json
Demo/NakedFunctions.Rest.App.Demo/appsettings.Development.json
ServerDebug.sln
Test/NakedFunctions.Rest.App.Demo/appsettings.json
Test/RichardsSeleniumTest.sln
