*.user
*.suo
!**/Template/*/.suo
!**/Template/*/*.user
*.nupkg
/packages
/Template/packages
/test-results
/TestResults
/build
/coverage
**/bin
**/obj
**/bld
UpgradeLog.htm
*.mdf
*.ldf
**/nakedobjects_log*.*
Documentation/~$veloperManual.docx
Core - Richard.sln
nog-packages.txt
*.orig
*.DotSettings
*.dll
RestfulObjects Server/RestfulObjects.Test.Data.Sdm2/lib/sdm.profiler.dll.config
.vs/config/applicationhost.config
Spa/NakedObjects.Spa/Content/content.zip
Spa/NakedObjects.Spa/node_modules
Spa/NakedObjects.Spa/typings
Rest/NakedObjects.Rest.App/log.txt
/Run/NakedObjects.Template/packages
/Run/NakedObjects.Template/Scripts/nakedobjects.vminterfaces.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.vminterfaces.js
/Run/NakedObjects.Template/Scripts/nakedobjects.viewmodels.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.viewmodels.js
/Run/NakedObjects.Template/Scripts/nakedobjects.version.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.version.js
/Run/NakedObjects.Template/Scripts/nakedobjects.userMessages.config.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.userMessages.config.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.viewmodelfactory.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.viewmodelfactory.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.urlmanager.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.urlmanager.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.template.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.template.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.template.config.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.template.config.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.representationloader.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.representationloader.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.navigation.simple.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.navigation.simple.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.navigation.browser.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.navigation.browser.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.mask.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.mask.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.mask.config.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.mask.config.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.handlers.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.handlers.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.focusmanager.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.focusmanager.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.error.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.error.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.error.config.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.error.config.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.context.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.context.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.color.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.color.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.color.config.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.color.config.js
/Run/NakedObjects.Template/Scripts/nakedobjects.services.clickhandler.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.services.clickhandler.js
/Run/NakedObjects.Template/Scripts/nakedobjects.routedata.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.routedata.js
/Run/NakedObjects.Template/Scripts/nakedobjects.rointerfaces.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.rointerfaces.js
/Run/NakedObjects.Template/Scripts/nakedobjects.rointerfaces.custom.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.rointerfaces.custom.js
/Run/NakedObjects.Template/Scripts/nakedobjects.models.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.models.js
/Run/NakedObjects.Template/Scripts/nakedobjects.models.helpers.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.models.helpers.js
/Run/NakedObjects.Template/Scripts/nakedobjects.exceptionhandler.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.exceptionhandler.js
/Run/NakedObjects.Template/Scripts/nakedobjects.directives.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.directives.js
/Run/NakedObjects.Template/Scripts/nakedobjects.controllers.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.controllers.js
/Run/NakedObjects.Template/Scripts/nakedobjects.constants.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.constants.js
/Run/NakedObjects.Template/Scripts/nakedobjects.config.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.config.js
/Run/NakedObjects.Template/Scripts/nakedobjects.cicerorenderer.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.cicerorenderer.js
/Run/NakedObjects.Template/Scripts/nakedobjects.cicerocommands.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.cicerocommands.js
/Run/NakedObjects.Template/Scripts/nakedobjects.cicerocommandfactory.js.map
/Run/NakedObjects.Template/Scripts/nakedobjects.cicerocommandfactory.js
/Run/NakedObjects.Template/Scripts/nakedobjects.app.js
Spa2/nakedobjectsspa/.vs/config/applicationhost.config
