# See http://help.github.com/ignore-files/ for more about ignoring files.

# directories
/bin
/dist
/dist1
/dist2
/e2e
/node_modules
/obj 
/src

*.tgz

# IDEs and editors
*.csproj
*.csproj.user

# misc
angular-cli.json
karma.conf.js
protractor.conf.js
tslint.json
web.config
