.datepicker-container {
    display: inline-block;
}

.datepicker-container .datepicker-input-container {
    display: inline-block;
    background: transparent;
}

.datepicker-input {
    width: 215px;
    height: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: Grey;
}

.datepicker-container .datepicker-input-container .datepicker-input-icon {
    display: inline-block;
}

.datepicker-container .datepicker-input-container .datepicker-input-icon:before {
    background-color: white;
    padding-left: var(--space-1);
    font-family: "iconFont";
    font-size: 16px;
    font-weight: var(--font-weight-1);
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
    position: relative;
    cursor: pointer;
    content: "\E020";
    color: black;
}

.datepicker-container .datepicker-input-container .datepicker-input-icon i {
    cursor: pointer;
}

.datepicker-container .datepicker-input-container .datepicker-input-icon i svg {
    display: none;
}

.datepicker-container .datepicker-input-container .datepicker-input-icon i svg g g {
    fill: black;
}

.datepicker-container .datepicker-calendar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 250px;
    z-index: 99;
    background: white;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.datepicker-container .datepicker-calendar .datepicker-calendar-top {
    width: 100%;
    background: black;
    display: inline-block;
    position: relative;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-top .year-title {
    display: block;
    color: white;
    font-size: 18px;
    text-align: center;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-top button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    background: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-top button svg {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 12px;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-top button svg g {
    fill: white;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-top button svg g path {
    fill: white;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-top .close {
    top: 5px;
    right: 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-top .close svg {
    width: 12px;
    height: 12px;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-top .close svg g path {
    fill: white;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container {
    display: inline-block;
    width: 100%;
    padding: var(--space-4);
    background: #222628;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-month-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #dddddd;
    text-transform: uppercase;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-month-section i {
    cursor: pointer;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-month-section i:first-child {
    margin-left: 12px;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-month-section i:last-child {
    margin-right: 12px;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-day-names {
    width: 230px;
    margin-top: var(--space-4);
    display: inline-block;
    border: 1px solid transparent;
    color: white;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-day-names span {
    font-size: 12px;
    display: block;
    float: left;
    width: calc(100% / 7);
    text-align: center;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container {
    width: 230px;
    margin-top: 5px;
    display: inline-block;
    border: 1px solid transparent;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 14px;
    color: #8e8e8e;
    width: calc(100% / 7);
    height: 33px;
    text-align: center;
    border-radius: 0px;
    cursor: pointer;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day:hover:not(.disabled), .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day.selected {
    background: #222628;
    border: 1px solid white;
    border-radius: 0px;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day.disabled {
    pointer-events: none;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day.today {
    color: #366aab;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-years-container {
    width: 100%;
    height: 240px;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-years-container .year {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 14px;
    color: #8e8e8e;
    width: calc(100% / 4);
    height: 50px;
    text-align: center;
    border-radius: 0px;
    cursor: pointer;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-years-container .year:hover, .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-years-container .year.selected {
    background: #222628;
    border: 1px solid #366aab;
    border-radius: 0px;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-buttons {
    width: 235px;
    display: flex;
    justify-content: center;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-buttons button {
    width: 100%;
    outline: none;
    display: inline-block;
    border: 1px solid #366aab;
    background: #099268;
    color: white;
    margin-right: 5px;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    padding: 5px var(--space-4);
    border: 1px solid #366aab;
    border-radius: 0px;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-buttons button.u-is-primary {
    background: #366aab;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-buttons button.u-is-primary:active {
    background: #222628;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-buttons button.u-is-secondary {
    background: #222628;
    color: white;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-buttons button.u-is-secondary:active {
    background: #366aab;
    color: #dddddd;
}

.datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-buttons button.u-is-secondary:hover {
    color: white;
}

.datepicker-container svg {
    display: block;
    width: 20px;
    height: 20px;
}

.datepicker-container svg g {
    fill: white;
}

.datepicker-container svg g g {
    fill: white;
}

input {
    border: none;
    width: var(--field-value-width);
    padding-left: 2px;
}

.ng-clearable {
    background-image: var(--clearable-image);
    background-repeat: no-repeat;
    background-position: right -10px;
    background-size: 8px;
}

.ng-clearable[class*="link-color"] {
    background-image: var(--clearable-link-image);
}

.ng-clearable.ng-x {
    background-position: right 2px center;
}

.ng-clearable.ng-onX {
    cursor: pointer;
}

input::-ms-clear {
    display: none;
}

.datepicker-calendar-top {
    padding-top: 5px;
    padding-bottom: 5px;
}

.prevYear {
    margin-left: 20px;
    float: left;
}

.year-title {
    width: 170px;
    align-content: center;
    float: left
}

.nextYear {
    float: right;
    margin-right: 20px;
}