.recent {
    padding-left: 20px;
    height: 100%;
    overflow-y: auto;
    color: var(--default-text-color);
    font-size: 11pt;
    font-weight: 100;
}

.header {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    color: var(--contrast-text-color);
    font-size: 24pt;
    font-weight: 200;
    background-image: var(--header-background-image);
}

.title {
    position: relative;
    font-weight: 200;
    font-size: 24pt;
    line-height: 38pt;
    margin-left: 1px;
    /*Make room for focus outline*/
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 20px;
    margin-top: 2px;
    display: inline-block;
}

.collection {
    display: block;
}

table {
    font-size: 11pt;
    font-weight: 200;
}

tr {
    cursor: pointer;
}

th, td {
    font-weight: 100; /*Override browser default*/
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

tbody .number {
    text-align:right;
}
