:host {
    display: block;
}

nof-action   {
    outline: none;
    margin-right: 20px;
    display: block;
    float: left;
    margin-left: 1px; /*Else hover outline is hidden on the left-most menu*/
    margin-right: 10px;
    margin-bottom: 5px; /*Else hover outline is hidden on the bottom*/
    font-size: 16pt;
}
