:host {
    display: block;
}

nof-action   {
    outline: none;
    margin-right: var(--space-5);
    display: block;
    float: left;
    margin-left: var(--space-1); /*Else hover outline is hidden on the left-most menu*/
    margin-right: var(--space-4);
    margin-bottom: var(--space-3); /*Else hover outline is hidden on the bottom*/
    font-size: var(--font-size-3);
}
