:host {
    width: var(--field-width);
    padding: var(--space-3);
    margin-bottom: var(--space-5);
}

.co-validation {
    color: var(--warning-color);
}

:host.multilinedialog {
    width: auto;
}

:host.multilinedialog .co-validation {
    vertical-align: top;
    margin-top: var(--space-1);
    margin-left: var(--space-1);
}