.list {
    color: var(--contrast-text-color);
    padding-left: var(--space-5);
    height: 100%;
    overflow-y: auto;
    display: block;
    font-weight: var(--font-weight-1);
}

.header {
    display: block;
    margin-bottom: var(--space-5);
    overflow: hidden;
    color: var(--contrast-text-color);
    background-image: var(--header-background-image);
}

.title, .type {
    position: relative;
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-4);
    line-height: 38pt;
    margin-left: var(--space-1);
    /*Make room for focus outline*/
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    margin-right: var(--space-5);
    margin-top: var(--space-1);
    display: block;
}

.type {
    float: left;
    margin-right: var(--space-5);
    display: none;
    /*Change this to display type (e.g. for accessibility)*/
}