<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.2.0" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="MSBuildTasks" version="1.4.0.88" targetFramework="net452" />
  <package id="NakedObjects.Facade" version="8.0.0-alpha" targetFramework="net452" />
  <package id="NakedObjects.Ide" version="8.0.0-alpha" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
</packages>