
:host {
    overflow: hidden; /*To cope with long prop names*/
    display: block;
}

:host:not(:last-child) {
    margin-bottom: 5px;
}

input[type=text],  select {
    border-style:solid;
    border-color: grey;
    border-width: 1px;
}

input[type='text'] {
    padding-left: 4px;
    padding-right: 10px; /*To avoid text running over the 'x' (clear button)*/
}

input:hover, input:focus {
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
}
.name {
    float: left;
    width: 145px;
    padding-right: 5px;
}

.reference, .value, collectionDetails {
    width: 245px;
    padding-left: 5px;
    margin: 1px;
    float: left;
}

input:not([type='checkbox']), textarea {
    width: 245px;
    padding-right:10px;
}

input:not([type='checkbox']) {
    height: 20px;
}

input[type='text'] {
    padding-left: 4px;
}

.validation {
    display: block;
    color: black;
}

/*MultiLine dialog*/
 :host.multilinedialog, :host.multilinedialog .co-validation, .multilinedialog .buttons {
    display: inline-block;
    vertical-align: top;
}

:host.multilinedialog .name {
    display: none;
}

:host.multilinedialog .parameter {
    width: 245px; /*To force (on IE) any validation message to be displayed underneath the field*/
}

:host.multilinedialog input:focus,:host.multilinedialog input:hover  {
    outline-width: 1px;
    outline-color: blue;
}

:host.multilinedialog .input-control input:not([type='checkbox']),
:host.multilinedialog select {
    height: 20px;
    padding-top: 2px;
}

:host.multilinedialog .validation {
    color: white;
    margin-left: 5px;
}


/* Drag and drop*/
.value.droppable {
    border: solid;
    border-width: 1px;
    width: 245px;
    height: 20px;
}

.value.droppable {
    border-color: black;
}

.value.droppable.dnd-drag-over.candrop {
    border-color: lawngreen;
    background-color: white;
}

.value.droppable.dnd-drag-over {
    border-color: red;
}

textarea {
    color: black;
}

.multiline {
    overflow: auto;
}

/* clear button on non-empty input field*/
.ng-clearable{
  background-image: url(data:image/gif;base64,R0lGODlhgACAAPcAAAAAAAQEBAwMDBQUFBgYGCAgICQkJCgoKCwsLDQ0NDs7Ozw8PERERFBQUFRUVFhYWGBgYGhoaG5ubnBwcHR0dHh4eH9/fwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAP8ALAAAAACAAIAAAAj/AP8JHEiwoMGDCBMqXMiwocOHECNKnEixosWLGDNq3Mixo8ePIAVWCEnSooWS/wQAmICypcMJAAiQVAlgpcubCGHWlPmRZk2bOIP+s/Bzp0efRVkKvVn0pwCOSJsqXVqyadGnGaNanUr1o9WmWC1q/cq168avVsNOHIu2rNmLaL+qhcg2rtu3E+Oinduwrt67eB/qjctXod/BgAMvDDA4bgCHhxsnVnyQcWPHDCNfnkx5oOXLmBNCAL25s8LPpNE+UOggNWLTlV3HdcCwtey2sAmivv2TdkPbvKXmThm8KQOIwIvX5LxU8+UFEpMrZ47TeWPoE6UXp97S+mDsFLUH/+c+U/lP8BXF8ybf03xN9BbV32YP1T0A+Bfly6afkYD9Ax7p5xp/FvnnHoAfCZgagRMZaB6CIClIGoMQOagchCFJCBqFDVlYHIYkaVjaRx4GB2JJIkrmUQH2GSBUiq9tdIB9PL1oH1AYzehejUvB+FeONOLlo10W6Wgej2YNidtERiqH5FtKkiVRk8U9KeSN7C1gX2GBRbmVQ1q6x6ViXgq3UJjmjUlZmUkphKZyanbG5k+AvVlcnKbNuZxBdgaHJ2x64vgPA1sOVxuWAun5mKGH2ieBoow6FKh9i0b6243mVWrppZjypummnHaa2qeghirqZaVmdyqqqaq6alytptL36lexxjdrUbXmdysAuWI0qVW9ZvTrTycF66uoHBpL0KTJKksQps06+w+y0lq0arS9zoptrLtRW61D3Z667abhXvvtabuaeW5B5d46Lmzt7vouZfGmOy9e3r16b1f5aittv+4qC/BXCjSAaK8DW4VdoPuilHBT6DEca4m8IWCQxKVSfNuJiR5sqcaycTwQxoyC7JrIy3qcm8mpoVwQyaaxTJrLF6usmMyg0XwQzHhRGZyVpk6nmM+8AS2pzUsRfZvRD/EclNKyMY0c0i5B7ZrUETnajZLVqWEdHdUhJWDfABGC7VGfvP0pq30ND4T2bWrbyjZJb8sWt65zf1S3a3cfmzdHe6fWt7BmTxQ4aYNrpLWrmSZZ+NHukWrj34wrJ3mPjycE6ZqZ1xw5oJ2PTOlwixs02ueGlj6QTu5Zqjrr5oEa6EgHUXBjqnOqWS9osZaJ5+6D5Rql2sCjFeyQdwOsLIyD59v2TSImTtyG1UoovUCaPT85YRgdpj3me2lU1/dUiXf9QWOR35V05yPkIQTr7uwUSA76Fn/N7S/kn/33m45SBP0LoAAHSMB1BQQAOw==);
  background-repeat: no-repeat;
  background-position: right -10px;
  background-size: 8px;
}
.ng-clearable[class*="link-color"] {
    background-image: url(data:image/gif;base64,R0lGODlhgACAAPcAAAAAAP78/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAP8ALAAAAACAAIAAAAj/AP8JHEiwoMGDCBMqXMiwocOHECNKnEixosWLGDNq3Mixo8ePIAOIDACypMWRJD+iFGmyJcSVKTnCZOmyZsKZMTPipGmzp8CdOU8CDerT5FCiEo/yLFpSKdKHTpcy7Rj1KcOqUqfqxJoUa1atFb1+vSl2LNiXZa0WTDvybFi2an/CNeuW7FyFc1HWhZrXbN+2exf+9Ts4bt3CVhEbBqvYbuHAaxs7HgxZLuKrkvcqXvxvs+bMDT2fFY32slbSEVH3VJ0adE3WXU2/dv1WtlHaQm2rxH0RtkbfGIHnftyUd23it3UPpzxb+UThHqFjdt5S+uS/p43j1e7SOkHvyZFP1xc/mrtl8m6hg19tfL1P2O6Lqo7PlDT9qZ7vZ9+MvjJC/sz5FxqAdwnIF4FlGdgaglwpuCCDSjn4HIRHSUgRhUBZeByGgGl4IYcdevghhyIGh2GJWzGI4m8IrrgRgS7KpF+M/5lH44E23igYjDqOyGOPpakIpEMgDjneiUbWCCJdPS65UpLfOfkklFLOlGSVOA2J5U5NbskljV4OFWOYFaJIZoQiijYje7at2R1tbhZHXZzRaUfni+bdaSJ1Bum5IXY4Brhffzvy+aah2yEaUo5KEiqno4ECptocpEEK+qilvTHqI6Z7UrqcpFRpGmlf4XH6KanViZqopywqOqCreMJ6HarvqTqQn6PmNaGsu/Hama2hyorrpqCuWmx6efo6qannHRuYb8DaxJuy9RHK6mfO/kqrh9k2m5aLuhb67ZhsETkumAnmWqaOYsUWlZENuruulk6daiWU2maYqb745ntvpzD1G+W/KU4p8K0BB6vXwQMzuSHDEEcs8cRQBgQAOw==);
}
.ng-clearable.ng-x  { background-position: right 2px center; }
.ng-clearable.ng-onX{ cursor: pointer; }
input::-ms-clear {display: none;}

/* date fields*/
.input-control input.hasDatepicker,
.input-control input.ui-timepicker-input {
    width: 217px;
}

.input-control input.hasDatepicker,
.input-control input.ui-timepicker-input {
    width: 207px;
    float: left;
}

img.ui-datepicker-trigger {
    margin-left: 5px;
    margin-top: 2px;
    width: 20px;
}

img.ui-datepicker-trigger {
    background-color: black;
}

select {
    width: 245px;
    height: 20px;
}

    select[multiple] {
        height: 68px; /*Issue with IE if just inherit the default height*/
    }

.validation {
    margin-left: 155px;
    font-size: 11pt;
}

.suggestions {
    display: block;
    color: black;
    background-color: white;
    font-size: 10pt;
    width: 245px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.suggestions ul {
    display: block;
    margin: 0px;
    padding: 5px;
}

.suggestions ul:hover {
        color: white;
    background-color: Black;
}
.suggestions li {
    list-style-type: none;
}
