
:host {
    overflow: hidden; /*To cope with long prop names*/
    display: block;
}

:host:not(:last-child) {
    margin-bottom: 5px;
}

.name {
    float: left;
    width: 145px;
    padding-right: 5px;
}

.reference, .value, collectionDetails {
    width: 245px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 1px;
}

.reference img {
    max-width: 245px;
    max-height: 100px;
}

input:not([type='checkbox']), textarea {
    width: 245px;
    height: 20px;
    padding-right:10px;
}

input[type='text'] {
    padding-left: 4px;
}

.validation {
    display: block;
}