<div class="name">
    <label attr.for="{{parameterPaneId}}">{{title}}</label>
</div>
<div [formGroup]="form">
    <div *ngIf="parameterType === 'ref'">

        <div class="value input-control text">
            <!--"EntryType.AutoComplete"-->
            <div *ngIf="parameterEntryType === 5">
                <input #focus [id]="parameterPaneId" class="value droppable" dnd-droppable [allowDrop]="accept(parameter)" (onDropSuccess)="drop($event.dragData)"
                       [ngClass]="droppableClasses()" placeholder="{{description}}" type="text" [formControlName]="parameterId" [geminiClear]="parameter" [form]="form" />
                <div class="suggestions" *ngIf="choices.length > 0">
                    <ul *ngFor="let choice of choices">
                        <li>
                            <a (click)="select(choice)">{{choiceName(choice)}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div *ngIf="isChoices() && !isMultiple()">
                <select #focus [id]="parameterPaneId"  [formControlName]="parameterId">
                    <option *ngFor="let choice of choices" [label]="choiceName(choice)" [ngValue]="choice">{{choiceName(choice)}}</option>
                </select>
            </div>
            
            <div *ngIf="isChoices() && isMultiple()">
                <select #focus [id]="parameterPaneId"  multiple [formControlName]="parameterId">
                    <option *ngFor="let choice of choices" [label]="choiceName(choice)" [ngValue]="choice">{{choiceName(choice)}}</option>
                </select>
            </div>

            <!--"EntryType.FreeForm"-->
            <div *ngIf="parameterEntryType === 0">
                <input #focus [id]="parameterPaneId" class="value droppable" dnd-droppable [allowDrop]="accept(parameter)" (onDropSuccess)="drop($event.dragData)"
                       [ngClass]="droppableClasses()" placeholder="{{description}}" type="text" [formControlName]="parameterId" [geminiClear]="parameter" [form]="form" />
            </div>

        </div>
    </div>

    <div *ngIf="parameterType === 'scalar'">
        <div class="value input-control text">

            <!--"EntryType.File"-->
            <div *ngIf="parameterEntryType === 6">
                <input #focus [id]="parameterPaneId" type="file" placeholder="{{description}}" (change)="fileUpload($event)" />
            </div>

            <!--"EntryType.AutoComplete"-->
            <div *ngIf="parameterEntryType === 5">
                <input #focus [id]="parameterPaneId" placeholder="{{description}}" type="text" [formControlName]="parameterId" [geminiClear]="parameter" [form]="form" />
                <div class="suggestions" *ngIf="choices.length > 0">
                    <ul *ngFor="let choice of choices">
                        <li>
                            <a (click)="select(choice)">{{choiceName(choice)}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div *ngIf="isChoices() && !isMultiple()">
                <select #focus [id]="parameterPaneId" [formControlName]="parameterId">
                    <option *ngFor="let choice of choices" [label]="choiceName(choice)" [ngValue]="choice">{{choiceName(choice)}}</option>
                </select>
            </div>

            <div *ngIf="isChoices() && isMultiple()">
                <select #focus [id]="parameterPaneId" multiple [formControlName]="parameterId">
                    <option *ngFor="let choice of choices" [label]="choiceName(choice)" [ngValue]="choice">{{choiceName(choice)}}</option>
                </select>
            </div>

            <!--"EntryType.FreeForm"-->
            <div *ngIf="parameterEntryType === 0">
                <div [ngSwitch]="parameterReturnType">
                    <div *ngSwitchCase="'string'" [ngSwitch]="format">
                        <div *ngSwitchCase="'date'">
                            <input #focus [id]="parameterPaneId" type="date" placeholder="{{description}}" [formControlName]="parameterId" [geminiClear]="parameter" />
                        </div>
                        <div *ngSwitchCase="'time'">
                            <input #focus [id]="parameterPaneId" type="time" placeholder="{{description}}" [formControlName]="parameterId" [geminiClear]="parameter" [form]="form" />
                        </div>
                        <div *ngSwitchDefault>
                            <input #focus *ngIf="!isMultiline" [id]="parameterPaneId" placeholder="{{description}}"
                                   type="{{isPassword ? 'password' : 'text'}}" [formControlName]="parameterId" [geminiClear]="parameter" [form]="form" />
                            <textarea #focus *ngIf="isMultiline" rows="{{rows}}" [id]="parameterPaneId" [formControlName]="parameterId"
                                      placeholder="{{description}}"></textarea>
                        </div>
                    </div>
                    <div *ngSwitchCase="'boolean'">
                        <input #focus [id]="parameterPaneId" type="checkbox" [geminiBoolean]="parameter" />{{description}}
                    </div>
                    <div *ngSwitchDefault>
                        <input #focus [id]="parameterPaneId" type="text" placeholder="{{description}}" [formControlName]="parameterId" [geminiClear]="parameter" [form]="form" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="validation">{{message}}</div>