.recent {
    padding-left: var(--space-5);
    height: 100%;
    overflow-y: auto;
    color: var(--default-text-color);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
}

.header {
    display: block;
    margin-bottom: var(--space-5);
    overflow: hidden;
    color: var(--contrast-text-color);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);
    background-color: var(--header-background-color);
}

.title {
    position: relative;
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-4);
    line-height: 38pt;
    margin-left: var(--space-1);
    /*Make room for focus outline*/
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    margin-right: var(--space-5);
    margin-top: var(--space-1);
    display: inline-block;
}

.collection {
    display: block;
}

table {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
}

tr {
    cursor: pointer;
}

th, td {
    font-weight: var(--font-weight-1); /*Override browser default*/
    text-align: left;
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    vertical-align: top;
}

tbody .number {
    text-align:right;
}
