:host {
    overflow-y: auto;
    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 11pt; 
    font-weight: 100;
    display: block;
    height: 100%;
    padding-bottom: 60px;
}

.object-holder {
    display: block;
    height: 100%;
}

.object {
    height: 100%;
    display: block;
    padding-left: 20px;
    overflow-y: auto;
}

.header {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}

viewTitle {
    display: inline-block; /*Otherwise focus outline takes full width*/
}

.title, .type {
    position: relative;
    font-weight: 200;
    font-size: 24pt;
    line-height: 38pt;
    margin-left: 1px; /*Make room for focus outline*/
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 20px;
    margin-top: 2px;
    display: inline-block;
}

.type {
    float: left;
    margin-right: 20px;
    display: none; /*Change this to display type (e.g. for accessibility)*/
}

/* Menus */
.menus {
    display: block;
}
.menu, .header .action {
    display: block;
    float: left;
    padding: 5px;
    margin-top: 0px;
    margin-left: 1px; /*Else hover outline is hidden on the left-most menu */
    margin-right: 10px;
    margin-bottom: 5px; /*Else hover outline is hidden on the bottom */
    font:inherit;
    font-size: 16pt;
    color: white;
    background-color: transparent;
}
.menu[disabled="disabled"] {
        color: grey;
}

.title:hover, .title:focus   {
    outline-color: white;
    outline-style: solid;
    outline-width: 1px;
}

/*Icons*/
.icon-expand:before {
    content: "\e099";
}

.icon-collapse:before {
    content: "\e098";
}


.actions, .main-column{
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}


