:host {
    display: block;
    margin-left: 20px;
    color: var(--default-text-color);
}

.header {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    color: var(--contrast-text-color);
    background-image: var(--header-background-image);
}

.properties {
    display: block;
    font-size: 11pt;
    font-weight: 100;
    width: 410px;
    padding: 5px;
    margin-bottom: 20px;
}

.property {
    display: block;
}