:host {
    display: block;
    /* color: white; */
    margin-left: var(--space-5);
    padding-left: var(--space-5);
    height: 100%;
    overflow-y: auto;
}

.header {
    display: block;
    margin-bottom: var(--space-5);
    overflow: hidden;
    color: var(--contrast-text-color);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);
    background-image: var(--header-background-image);
}

.title {
    position: relative;
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-4);
    line-height: 38pt;
    margin-left: var(--space-1);
    /*Make room for focus outline*/
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    margin-right: var(--space-5);
    margin-top: var(--space-1);
    display: inline-block;
}

.properties {
    color: var(--default-text-color);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
    width: var(--field-width);
    padding: var(--space-3);
    margin-bottom: var(--space-5);
}