@using NakedObjects.Web.Mvc.Html
@using NakedObjects.Web.Mvc.Models
@model object


@{
    ViewBag.Title = Html.ObjectTitle(Model);
}

<div id="body">
    <section class="main-content" >
        @Html.TabbedHistory(Model)   
        <div class="@(Html.ObjectEditClass(Model) + " " + Html.TransientFlag(Model is FindViewModel ? ((FindViewModel) Model).TargetObject : Model))" id="@Html.ObjectTypeAsCssId(Model)">
            @{ Html.RenderPartial("ObjectEditControl", Model); }          
        </div> 
    </section>
</div>