:host {
    float: left;
    margin-bottom: var(--space-5);
    display: block;
    /* margin-left: var(--space-5); */
    margin-right: var(--space-4);
    padding-top: var(--space-4);
    background-color: var(--menu-background-color);
}

nof-action, .submenu {
    display: block;
    cursor: pointer;
    outline: none;
    margin-right: var(--space-5);
    width: var(--action-width);
}

.submenu {
    padding: var(--space-3);
    color: var(--menu-text-color);
}

.submenu:hover {
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--default-contrast-color);
}

.collapsed {
    display: none;
}

.open {
    margin-left: var(--space-4);
}

.open.rootMenu {
    margin-left: 0px;
}

/*Icons*/

.icon-expand:before {
    content: var(--submenu-expand-icon);
}

.icon-collapse:before {
    content: var(--submenu-collapse-icon);
}

.icon-expand, .icon-collapse {
    font-size: var(--font-size-1);
}

.icon-expand:hover, .icon-collapse:hover {
    outline-color: var(--contrast-outline-color);
    outline-width: 1px;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: "iconFont";
    font-weight: var(--font-weight-1);
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
    position: relative;
}