:host {
    display: block;
    width: 410px;
    margin-bottom: 20px;
    overflow: hidden; /*Needed to force the floated divs inside this to expand the containing div in height*/
    background-color: white;
    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    color: black;
    font-size: 11pt; 
    font-weight: 400;
    padding: 0px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

form {
    padding: 5px;
}

.ok {
    color: white;
    background-image: linear-gradient(to bottom, #11648a, #187ba9 100%);
}

.dialog input, .dialog select {
    margin-bottom: 10px;
    border-style:solid;
    border-color: grey;
    border-width: 1px;
}

input {
    padding-right: 10px; /*To avoid text running over the 'x' (clear button)*/
}

input[type='text'] {
    padding-left: 4px;
}
input[type=button],
input[type=reset],
input[type=submit] {
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
    border: 1px transparent solid;
    cursor: pointer;
    width: auto;
    *zoom: 1;
    color: black;
    background-color: white;
    float: right;
    outline: solid;
    outline-color: lightgrey;
    outline-width: 1px;
}

input[type='button']:focus,
input[type='button']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
    outline: solid;
    outline-width: 1px;
    outline-color: black;
}

.title {
    display: block;
    font-size: 12pt;        
    margin-bottom: 10px;
    color: white;
    background-image: linear-gradient(to bottom, #11648a, #187ba9 100%);
    padding: 5px;
    font-weight: 600;
}

.icon-cancel {
        color: black;
        float: right;
    }

.parameter .name {
    width: 145px; /*To align input box with reference fields*/
}

 .parameter {
    overflow: hidden; /*To cope with long param/prop names*/
    display: block;
}
