<div [formGroup]="form">
    <md-input-container>
        <input #focus [id]="modelPaneId" class="value droppable" type="text" dnd-droppable [allowDrop]="accept(model)" (onDropSuccess)="drop($event.dragData)" [ngClass]="classes()" placeholder="{{description}}" mdInput [formControlName]="modelId" [formControl]="control" [mdAutocomplete]="auto" [nofClear]="subject" (clear)="clear()">
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let option of choices" [value]="option">
            {{ option }}
        </md-option>
    </md-autocomplete>
</div>
