<div *ngIf="dialog" class="dialog">
    <div class="title">
        {{dialog.title}}
    </div>
    <form>
        <parameters class="parameters" [parameters]="dialog.parameters" [parent]="dialog"></parameters>
        <div class="co-validation">{{dialog.message}}</div>
        <input class="ok" tabindex="0" type="submit" value="OK" title="{{dialog.tooltip()}}" [disabled]="!dialog.clientValid()" geminiClick (leftClick)="dialog.doInvoke()" (rightclick)="dialog.doInvoke(true)" />
        <input class="cancel" tabindex="0" type="button" geminiClick (leftClick)="dialog.doCloseReplaceHistory()" value="Cancel" />
    </form>
</div>
