:host {
    float: left;
    margin-bottom: 20px;
    display: block;
}


.menuitem, .submenu  {
    display: block;
    cursor: pointer;
    outline: none;
    margin-right: 20px;
    width: 150px;
}

.menuitem {
    padding: 2px 5px;
}

.submenu {
    font-size: 12pt;
    padding: 2px 10px;
}

.collapsed {
    display: none;
}

.open {
    display: block;
    margin-left: 10px;
}

.open.rootMenu {
    margin-left: 0px;
}

/*Icons*/
.icon-expand:before {
    content: "\e099";
}

.icon-collapse:before {
    content: "\e098";
}
.icon-expand, .icon-collapse {
        font-size: 8pt;
}

.icon-expand:hover, .icon-collapse:hover {
    outline-color: white;
    outline-style: solid;
    outline-width: 1px;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: "iconFont";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
    position: relative;
}