<div *ngFor="let menu of items; let i = index">

    <div *ngIf="menuName(menu)" (click)="toggleCollapsed(menu)"  class="submenu" [ngSwitch]="navCollapsed(menu)">
        {{menuName(menu)}}
        <div *ngSwitchCase="true" class="icon-expand" tabindex="0"></div>
        <div *ngSwitchCase="false" class="icon-collapse" tabindex="0"></div>
    </div>
    <div class="menuitem" [ngClass]="displayClass(menu)">
        <div *ngIf="hasActions(menu)">
            <div *ngFor="let action of menuActions(menu, i)">
                <nof-action [action]="action"></nof-action>
            </div>
        </div>
        <div *ngIf="hasItems(menu)">
            <nof-action-list [menuHolder]="menu"></nof-action-list>
        </div>
    </div>
</div>
