<div class="footer">
	<div class="icon home" title="Home (Alt-h)" tabindex="0" geminiClick (leftClick)="goHome()" (rightClick)="goHome(true)" accesskey="h"></div>
	<div class="icon back" title="Back (Alt-b)" tabindex="0" (click)="goBack()" accesskey="b"></div>
	<div class="icon forward" title="Forward (Alt-f)" tabindex="0" (click)="goForward()" accesskey="f"></div>
	<div class="icon full" title="Expand pane (Alt-e)" tabindex="0" geminiClick (leftClick)="singlePane()" (rightClick)="singlePane(true)"
		accesskey="e"></div>
	<div class="icon swap" [attr.disabled]="swapDisabled()" title="Swap panes (Alt-s)" tabindex="0" (click)="swapPanes()" accesskey="s"></div>
	<div class="icon recent" title="Recent objects (Alt-r)" tabindex="0" geminiClick (leftClick)="recent()" (rightClick)="recent(true)" accesskey="r"></div>
	<div class="icon speech" title="Cicero - Speech Interface (Alt-c)" (click)="cicero()" tabindex="0" accesskey="c"></div>
	<div class="icon properties" title="Application Properties (Alt-p)" (click)="applicationProperties()" tabindex="0" accesskey="p"></div>
	<div class="icon logoff" title="Log off (Alt-l)" (click)="logOff()" tabindex="0" accesskey="l"></div>
	<span class="loading">{{loading}}</span>

	<div class="warnings" *ngFor="let warning of warnings">
		<div>{{warning}}</div>
	</div>
	<div class="messages" *ngFor="let message of messages">
		<div>{{message}}</div>
	</div>
	<div *ngIf="copyViewModel" class="currentcopy">
        <span>Copying...</span>
        <div class="reference" [ngClass]="currentCopyColor" dnd-draggable [dragEnabled]="true" [dragData]="copyViewModel">{{currentCopyTitle}}</div>
    </div>
	<!--<div class="user">{{userName}}</div>
    <a style="display: none"></a>-->
</div>