<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.3.1" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net451" />
  <package id="MSBuildTasks" version="1.4.0.65" targetFramework="net451" />
  <package id="NakedObjects.Core" version="6.0.0" targetFramework="net451" />
  <package id="NakedObjects.ProgrammingModel" version="6.0.0" targetFramework="net451" />
  <package id="NUnit" version="2.6.3" targetFramework="net451" />
</packages>