<div *ngIf="dialog">
	<form (ngSubmit)="onSubmit()" [formGroup]="form" autocomplete="off">
		<nof-parameters-properties class="properties" [parameters]="parameters" [properties]="properties" [parent]="dialog" [form]="form"></nof-parameters-properties>		
		<div class="co-validation">{{message}}</div>
		<div class="form-row">
			<input class="ok" tabindex="0" type="submit" value="OK" title="{{tooltip}}" nofClick (leftClick)="onSubmit()" (rightClick)="onSubmit(true)" [disabled]="!form.valid" />
			<input class="cancel" tabindex="0" type="button" nofClick (leftClick)="close()" value="Cancel"/>
		</div>
	</form>
</div>