<div *ngIf="dialog">
	<form (ngSubmit)="onSubmit()" [formGroup]="form" autocomplete="off">
		<ng-container *ngFor="let parmprop of parametersProperties">
			<nof-edit-parameter *ngIf="isParameter(parmprop)" [ngClass]="classes(parmprop)" [parameter]="parmprop" [parent]="parent" [form]="form"></nof-edit-parameter>
			<ng-container *ngIf="isLastParameter(parmprop)">
				<div class="co-validation">{{message}}</div>
				<div>
					<input class="ok" tabindex="0" type="submit" value="OK" title="{{tooltip}}" nofClick (leftClick)="onSubmit()" (rightClick)="onSubmit(true)" [disabled]="!form.valid" />
					<input class="cancel" tabindex="0" type="button" nofClick (leftClick)="close()" value="Cancel"/>
				</div>
			</ng-container>		
			<nof-view-property  *ngIf="isProperty(parmprop)" [inDialog]="true" [ngClass]="classes(parmprop)"  [property]="parmprop"></nof-view-property>
		</ng-container>		
	</form>
</div>