
.dialog {
    display: block;
    /*added*/
    overflow-y: auto;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}


.dialog select {
    margin-bottom: var(--space-4);
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

input[type='text'] {
    padding-right: var(--space-4);
    /*To avoid text running over the 'x' (clear button)*/
    padding-left: var(--space-3);
    margin-bottom: var(--space-4);
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}
/*end*/

input[type=button], input[type=reset], input[type=submit] {
    margin-left: var(--space-3);
    margin-top: var(--space-4);
    margin-right: var(--space-3);
    margin-bottom: var(--space-3);
    padding: var(--space-3) 1var(--space-1);
    text-align: center;
    vertical-align: middle;
    border: 1px transparent solid;
    cursor: pointer;
    width: auto;
    *zoom: 1;
    /* color: black;
    background-color: white; */
    float: right;
    outline: solid;
    outline-color: lightgrey;
    outline-width: 1px;
}

input[type='button']:focus, input[type='button']:hover, input[type='submit']:focus, input[type='submit']:hover {
    outline: solid;
    outline-width: 1px;
    outline-color: black;
}

input.ok {
    color: var(--dialog-contrast-text-color);
    background-color: var(--header-background-color);
    margin-bottom: var(--space-4);
}

input.ok:disabled {
    color: var(--disabled-color);
}


.parameter .name {
    width: var(--field-name-width);
    /*To align input box with reference fields*/
}

.parameter {
    overflow: hidden;
    /*To cope with long param/prop names*/
    display: block;
}