.home {
    padding-left: var(--space-5);
    height: 100%;
    overflow-y: auto;
    color: var(--default-text-color);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
}

.header {
    margin-bottom: var(--space-5);
    overflow: hidden;
    color: var(--contrast-text-color);
    background-image: var(--header-background-image);
}

.title {
    position: relative;
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-4);
    line-height: 38pt;
    margin-left: var(--space-1);
    /*Make room for focus outline */
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    margin-right: var(--space-5);
    margin-top: var(--space-1);
}

.main-column {
    float: left;
    margin-bottom: var(--space-5);
    margin-right: var(--space-5);
}

p {
    color: var(--default-text-color);
}