<div class="actions">
    <div *ngFor="let menu of menuVm.menuItems">
        <div *ngIf="menu.name"  (click)="menu.toggleCollapsed()" class="submenu clickable-area" [ngSwitch]="menu.navCollapsed">
            {{menu.name}}
            <div *ngSwitchCase="true" class="icon-expand"></div>
            <div *ngSwitchCase="false" class="icon-collapse"></div>
        </div>
        <div class="" [ngClass]="{collapsed : menu.navCollapsed, open : !menu.navCollapsed, rootMenu : !menu.name }">
            <div *ngIf="menu.actions  && menu.actions.length > 0" >
                <div *ngFor="let action of menu.actions">
                    <action [action]="action"></action>
                </div>
            </div>
            <div *ngIf="menu.menuItems && menu.menuItems.length > 0">
                <actions [menuVm]="menu"></actions>
            </div>
        </div>
    </div>
</div>