<div class="summary">
    <div class='name'>{{collection.title}}:</div>
    <collectionDetails>{{collection.details}}</collectionDetails>
    <div *ngIf="collection.mayHaveItems">
        <img *ngIf="state == 'table' || state == 'list'" class="icon-summary clickable-area" (click)="collection.doSummary()" src="images/summary.png" title="Close Collection" />
        <img *ngIf="state == 'table' || state == 'summary'" class="icon-list clickable-area" (click)="collection.doList()" src="images/list.png" title="View as List"/>
        <img *ngIf="state == 'list'  || state == 'summary'" class="icon-table clickable-area" (click)="collection.doTable()" src="images/table.png" title="View as Table"/>
    </div>
</div>
<table *ngIf="state == 'table'">
    <thead>
    <tr>
        <th *ngFor="let heading of collection.header" scope="col">
            {{heading}}
        </th>
    </tr>
    </thead>
    <tbody *ngIf="collection.hasTableData()">
        <tr *ngFor="let item of collection.items" [ngClass]="item.color" class="clickable-area" geminiClick (leftClick)="item.doClick()" (rightClick)="item.doClick(true)" gemini-drag tabindex="0">
            <td *ngIf="item.tableRowViewModel.hasTitle" class="cell">
                {{item.tableRowViewModel.title}}
            </td>
            <td *ngFor="let property of item.tableRowViewModel.properties" (click)="item.doClick()" [ngClass]="item.color" class="cell">
                <div  [ngSwitch]="property.type">
                    <div *ngSwitchCase="'ref'" class="clickable-area">
                        {{property.formattedValue}}
                    </div>
                    <div *ngSwitchCase="'scalar'" [ngSwitch]="property.returnType">
                        <div *ngSwitchCase="'boolean'" class="clickable-area">
                            <input type="checkbox" [checked]="property.value" disabled="disabled" />
                        </div>
                        <div *ngSwitchCase="'number'" class="clickable-area">
                            <div class="clickable-area number">{{property.formattedValue}}</div>
                        </div>
                        <div *ngSwitchDefault class="clickable-area">
                            <div class="clickable-area">{{property.formattedValue}}</div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table *ngIf="state == 'list'">
    <tbody>
        <tr *ngFor="let item of collection.items" [ngClass]="item.color" geminiClick (leftClick)="item.doClick()" (rightClick)="item.doClick(true)">
            <td class="reference clickable-area" gemini-drag tabindex="0">
                {{item.title}}
            </td>
        </tr>
    </tbody>
</table>