<div [ngClass]="class"> <!--TODO: This is the Single/Split definition-->
    <header>
        <viewTitle>Home</viewTitle>
        <menus *ngIf="menus">
            <menu class="clickable-area" tabindex="0" *ngFor="let menu of menus.items" (click)="doClick(menu)">
                {{menu.title}}
            </menu>
        </menus>
        <messages><span *ngIf="!menus">Loading menus..</span></messages>
    </header>
    <actions *ngIf="selectedMenu" [menuVm]="selectedMenu"></actions>
    <div class="main-column">
        <dialog *ngIf="selectedDialog" [dialog]="selectedDialog"></dialog>
    </div>
</div>
<router-outlet (activate)="onChild()" (deactivate)="onChildless()"></router-outlet>