<div *ngIf="object" class="view" [ngClass]="getClass()">
    <header >
        <viewTitle gemini-drag tabindex="0">
         <span class="type">{{object.friendlyName}}</span>
         {{object.title}}
        </viewTitle>
        <!--<div>{{object.isDirty() ? "*" : ""}} </div>-->
        <menus>
            <menu class="menu clickable-area" tabindex="0" geminiClick (leftClick)="object.toggleActionMenu()" ng-disabled="object.disableActions()" title={{object.actionsTooltip()}} accesskey="a">
                Actions
            </menu>
            <menu class="action clickable-area" tabindex="0" geminiClick (leftClick)="object.doEdit()" ng-hide="object.hideEdit()">
                Edit
            </menu>
            <menu class="action clickable-area" tabindex="0" geminiClick (leftClick)="object.doReload()">
                Reload
            </menu>
        </menus>
        <messages>{{object.message}}</messages>
    </header>
    <actions *ngIf="object.showActions()" [menuVm]="object"></actions>
    <mainColumn>
        <dialog *ngIf="selectedDialog" [dialog]="selectedDialog"></dialog>
        <properties *ngIf="object.properties" [properties]="object.properties"></properties>
    </mainColumn>
    <collections *ngIf="object.collections"  [collections]="object.collections"></collections>
</div>
<router-outlet (activate)="onChild()" (deactivate)="onChildless()"></router-outlet>