:host {
    padding-left: 20px;
    height: 100%;
    overflow-y: auto;
    display: block;
}

viewTitle {
    display: inline-block; /*Otherwise focus outline takes full width*/
}

header .type {
    float: left;
    margin-right: 20px;
}

.type {
    display: none; /*Change this to display type (e.g. for accessibility)*/
}

/*Sub-panes - layout */
mainColumn {
    display: block;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

/*Collections */

.collections {
    display: block; /*TODO: Display: Inline ?*/
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

.collection .name, .collection .details {
    padding-left: 0px; /*Because it is a heading, so outdented*/
    float: left;
}

.collection:not(:last-child) {
    margin-bottom: 20px;
}

.collection .summary {
    font-size: 12pt;
    margin-bottom: 10px;
    overflow: hidden; /*To make div same depth as its floating children*/
}
