<div [ngSwitch]="property.type">
    <div class="name">{{property.title}}:</div>

    <div *ngSwitchCase="'ref'">
        <div [ngSwitch]="property.refType">
            <div *ngSwitchCase="null">

            </div>
            <div *ngSwitchCase="'notNavigable'">
                <div class="value">
                    {{property.formattedValue}}
                </div>
            </div>
            <div *ngSwitchDefault class="reference clickable-area" [ngClass]="property.color" (leftClick)="property.doClick()" (rightClick)="property.doClick(true)" gemini-drag tabindex="0">
                {{property.formattedValue}}
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'scalar'">
        <div [ngSwitch]="property.returnType">
            <div *ngSwitchCase="'string'">
                <div [ngSwitch]="property.format">
                    <div *ngSwitchCase="'blob'" class="reference clickable-area" [ngModel]="$parent.property.attachment" (leftClick)='property.attachment.doClick()' (rightClick)='property.attachment.doClick(true)' gemini-attachment tabindex="0">
                    </div>
                    <div *ngSwitchDefault>
                        <div [ngSwitch]="property.multipleLines">
                            <div *ngSwitchCase="1" class="value">
                                {{property.formattedValue}}
                            </div>
                            <div *ngSwitchDefault class="value multiline" [ngStyle]="{height: $parent.property.multipleLines * 20+'px'}">
                                <pre>{{property.formattedValue}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'boolean'">
                    <input type="checkbox" onclick="return false" [checked]="property.value" disabled="disabled" />
                </div>

                <div *ngSwitchDefault>
                    <div class="value">
                        {{property.formattedValue}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
