<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TestAttributes" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestAttributes;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TestAudit" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestAudit;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TestCustomAuthorizationManager" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestCustomAuthorizationManager;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TestCustomAuthorizerInstaller" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestCustomAuthorizerInstaller;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TestContainer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestContainer;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TestInjection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestInjection;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="ObjectFinderWithCompoundKeys" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ObjectFinderWithCompoundKeys;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="ObjectFinderInstances" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ObjectFinderInstances;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="ObjectFinderGuid" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ObjectFinderGuid;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="ObjectFinderSingleKey" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ObjectFinderSingleKey;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TestMethods" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestMethods;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TestMenus" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestMenus;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TestEnums" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestEnums;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TestParentChild" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestParentChild;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TestPersistence" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestPersistence;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TestProfile" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestProfile;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TestSimpleRepository" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestSimpleRepository;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TestXats" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestXats;Integrated Security=True;" providerName="System.Data.SqlClient" />
 
  </connectionStrings>
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
