:host {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--default-background-color);
}

.icon {
    display: block;
    color: var(--default-outline-color);
    font-size: 36pt;
    padding: 5px;
    margin-left: 10px;
}

.icon.disabled {
    display: none;
}

.icon:hover, .icon:focus {
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--default-outline-color);
}

.icon:active {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--default-outline-color);
}

.icon, .currentcopy {
    float: left;
}

.currentcopy {
    display: inline-block;
    margin-left: 20px;
}

/*Warnings & Messages*/

.messages, .warnings, .loading {
    background-color: var(--default-background-color);
    font-size: 11pt;
    color: var(--default-text-color);
}

.warnings {
    color: var(--warning--color);
}

/*Icons */

.icon {
    font-family: "iconFont";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
    position: relative;
    cursor: pointer;
}

.home:before {
    content: "\e000";
}

.back:before {
    content: "\e09f";
}

.forward:before {
    content: "\e09d";
}

.swap:before {
    content: "\e0a4";
}

.full:before {
    content: "\e08e";
}

.recent:before {
    content: "\e06b";
}

.speech:before {
    content: "\e036";
}

.properties:before {
    content: "\e048";
}

.logoff:before {
    content: "\e03b";
}

/*Hide/show Cicero icon*/

.speech {
    display: none;
    /*display:    inline-block;*/
}