<div class="table-view">
    <div class="title">
        {{collection.size}}-{{collection.pluralName}}
        <a class="cancel icon-cancel" href="{{closeCollection}}" ></a>
        <a class="expand icon-minus"  href="{{modeCollection}}" ></a>
    </div>
    <div class="items">
                 
        <div class="properties">
            <div class="cell" ng-repeat="heading in collection.header">
                <div class="property-name">{{heading}}</div>
            </div>
        </div>
    
        <div ng-repeat="item in collection.items" >
               
            <div class="properties">
                
                <div class="cell" ng-repeat="property in item.target.properties" ng-switch="property.type">
                             
                    <div ng-switch-when="ref" >
                        <div class='property-value'>{{property.value}}</div>
                    </div>
                    
                    <div ng-switch-when="scalar" ng-switch="property.returnType">

                        <div ng-switch-when="string" ng-switch="property.format">
                            <div ng-switch-when="date-time" class='property-value'>{{property.value}}</div>
                            <div ng-switch-default class='property-value'>{{property.value}}</div>
                        </div>

                        <div ng-switch-when="boolean">
                            <input type="checkbox" onclick=" return false " ng-checked="property.value"/>
                        </div>

                        <div ng-switch-default>
                            <div class='property-value'>{{property.value}}</div>
                        </div>
                    </div>
                   
                </div>         
            </div>
           
        </div>
    </div>
</div>