<div class="object-view" ng-class="backgroundColor" ng-swipe-right="$broadcast('back')" ng-swipe-left="$broadcast('forward')">
    <div ng-controller="ServiceController" ng-include="serviceTemplate"></div>
    <div class="dialog-pane" ng-controller="DialogController" ng-include="dialogTemplate"></div>
    <div class="collection-pane" ng-controller="CollectionController" ng-include="collectionTemplate"></div>
    <div class="object-pane" ng-controller="NestedObjectController" ng-include="nestedTemplate"></div>
    <div class="app-bar" ng-controller="AppBarController" ng-include="appBar.template"></div>
</div>
