<div [attr.id]="paneIdName()"   *ngIf="collection" [ngClass]="paneType">
	<div class="list">
		<header class="header">
			<div class="title">{{title}}</div>
			<div class="menus">
				<div class="menu clickable-area" tabindex="0" (click)="collection.toggleActionMenu()" [attr.disabled]="collection.disableActions() ? true : null"
					title={{collection.actionsTooltip()}}>
					Actions
				</div>
				<div class="action clickable-area" tabindex="0" (click)="collection.reload()">
					Reload
				</div>
				<div class="action clickable-area" tabindex="0" (click)="collection.pageFirst()" [attr.disabled]="collection.pageFirstDisabled() ? true : null">
					First
				</div>
				<div class="action clickable-area" tabindex="0" (click)="collection.pagePrevious()"[attr.disabled]="collection.pagePreviousDisabled() ? true : null">
					Previous
				</div>
				<div class="action clickable-area" tabindex="0" (click)="collection.pageNext()" [attr.disabled]="collection.pageNextDisabled() ? true : null">
					Next
				</div>
				<div class="action clickable-area" tabindex="0" (click)="collection.pageLast()" [attr.disabled]="collection.pageLastDisabled() ? true : null">
					Last
				</div>
			</div>
			<div class="messages">{{collection.message}}</div>
		</header>
		<div class="details" *ngIf="collection.size == 0">{{collection.description()}}</div>
		<div *ngIf="collection.size > 0">
			<actions *ngIf="collection.showActions()" [menuVm]="collection"></actions>
			<dialog [parent]="collection"></dialog>
			<div class="summary" *ngIf="state == 'list'">
				<div class="details">{{collection.description()}}</div>
				<img class="icon-table clickable-area" (click)="collection.doTable()" src="../../images/table.png" title="View as Table"
				/>
				<table>
					<thead>
						<tr>
							<th [hidden]="(collection.disableActions() || collection.items.length === 0)"><input type="checkbox" id="all" [ngModel]="collection.allSelected()" (click)="collection.selectAll()">All</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of collection.items; let i = index">
							<td class="checkbox" [hidden]="collection.disableActions()">
								<input type="checkbox" id="{{'item'+collection.onPaneId+'-'+ i}}" [(ngModel)]="item.selected">
							</td>
							<td class="reference clickable-area" [ngClass]="item.color" geminiClick (leftClick)="item.doClick()" (rightClick)="item.doClick(true)"
								gemini-drag tabindex="0">
								<label attr.for="{{'item'+collection.onPaneId+'-'+ i}}">{{item.title}}</label>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="summary" *ngIf="state == 'table'">
				<div class="details">{{collection.description()}}</div>
				<img class="icon-list clickable-area" (click)="collection.doList()" src="../../images/list.png" title="View as List" />
			</div>
			<table *ngIf="state == 'table'">
				<thead>
					<tr>
						<th [hidden]="(collection.disableActions() || collection.items.length === 0)"><input type="checkbox" id="all" [ngModel]="collection.allSelected()" (click)="collection.selectAll()">All</th>
						<th *ngFor="let heading of collection.header" scope="col">
							{{heading}}
						</th>
					</tr>
				</thead>
				<tbody *ngIf="collection.hasTableData()">
					<tr tabindex="0" *ngFor="let item of collection.items; let i = index" class="clickable-area" gemini-drag>
						<td [hidden]="collection.disableActions()" class="checkbox">
							<input type="checkbox" id="{{'item'+collection.onPaneId+'-'+ i}}" [(ngModel)]="item.selected">
						</td>
						<td *ngIf="item.tableRowViewModel.hasTitle" (click)="item.doClick()" [ngClass]="item.color" class="cell">
							{{item.tableRowViewModel.title}}
						</td>
						<td *ngFor="let property of item.tableRowViewModel.properties" geminiClick (leftClick)="item.doClick()" (rightClick)="item.doClick(true)"
							[ngClass]="item.color" class="cell">
							<div [ngSwitch]="property.type">
								<div *ngSwitchCase="'ref'" class="clickable-area">
									{{property.formattedValue}}
								</div>
								<div *ngSwitchCase="'scalar'" [ngSwitch]="property.returnType">
									<div *ngSwitchCase="'boolean'" class="clickable-area">
										<input type="checkbox" [checked]="property.value" disabled="disabled" />
									</div>
									<div *ngSwitchCase="'number'" class="clickable-area">
										<div class="clickable-area number">{{property.formattedValue}}</div>
									</div>
									<div *ngSwitchDefault class="clickable-area">
										<div class="clickable-area">{{property.formattedValue}}</div>
									</div>
								</div>
							</div>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div [attr.id]="paneIdName()"  *ngIf="!collection" [ngClass]="paneType">
	<div class="list">
		<div class="header">
			<div class="title">
				{{title}}
			</div>
			<div class="action clickable-area" tabindex="0" (click)="reload()">
				Reload
			</div>
		</div>
	</div>
</div>
<router-outlet (activate)="onChild()" (deactivate)="onChildless()"></router-outlet>