:host {
    padding-left: 20px;
    height: 100%;
    overflow-y: auto;
    display: block;
}

collectionDetails, .reference {
    padding-left: 5px;
    padding-right: 5px;
    margin: 1px;
}

collectionDetails {
    width: 400px;
    padding-left: 40px; /*To align with first column text, allowing for checkbox*/
    float: left;
}

.reference {
    width: 390px;
}

.reference:not(:last-child) {
   margin-bottom: 5px;
}


