<div [attr.id]="paneIdName" [ngClass]="paneType">
    <div class="recent">
        <div class="header">
            <div class="title">{{title}}</div>
            <nof-action-bar [actions]="actionHolders"></nof-action-bar>
        </div>
        <ng-container *ngIf="recent">
            <div class="collection">
                <table>
                    <tbody>
                        <tr #row *ngFor="let item of items(); let i = index" nof-row [item]="item" [index]="i" [withCheckbox]="false" [isTable]="true" tabindex="0"></tr>
                    </tbody>
                </table>
            </div>
        </ng-container>
    </div>
</div>
<router-outlet (activate)="onChild()" (deactivate)="onChildless()"></router-outlet>
