:host {
    display: block;
    color: white;
    margin-left: 20px;
    padding-left: 20px;
    height: 100%;
    overflow-y: auto;
}

.header {
    display: block;
    overflow: hidden;
    font-size: 24pt; 
    font-weight: 200;
}

.collection {
    display: block;
}

table {
    font-size: 11pt; 
    font-weight: 200;
}

tr {
    cursor: pointer;
}

th, td {
    font-weight: 100; /*Override browser default*/
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

tbody .number {
    text-align:right;
}
