<div [attr.id]="paneIdName" [ngClass]="paneType">
    <div class="recent">
        <div class="header">
            <div class="title">{{title}}</div>
            <nof-action-bar [buttons]="buttons"></nof-action-bar>
        </div>
        <div *ngIf="recent">
            <table>
                <tbody>
                    <tr [ngClass]="itemColor(item)" *ngFor="let item of items()" dnd-draggable [dragEnabled]="true" [dragData]="item" geminiClick
                        (leftClick)="doItemClick(item)" (rightClick)="doItemClick(item, true)">
                        <td tabindex="0" class="cell">
                            {{itemTitle(item)}}
                        </td>
                        <td tabindex="0" class="cell">
                            {{itemFriendlyName(item)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<router-outlet (activate)="onChild()" (deactivate)="onChildless()"></router-outlet>
