<div  class="object edit" [ngClass]="color">
    <header class="header">
        <div class="title" tabindex="0">{{title}}</div>
		<div  class="menus">
			<nof-action-bar [actions]="actionHolders"></nof-action-bar>
		</div>
		<div class="messages">{{message}}</div>
    </header>
    <div class="main-column">
        <div *ngIf="dialog" class="dialog">
			<form (ngSubmit)="onSubmit()" [formGroup]="form" autocomplete="off">
				<ng-container *ngFor="let parmprop of parametersProperties">
					<nof-edit-parameter *ngIf="isParameter(parmprop)" [ngClass]="classes(parmprop)" [parameter]="parmprop" [parent]="parent" [form]="form"></nof-edit-parameter>
					<nof-view-property *ngIf="isProperty(parmprop)" [propertyName]="parmprop" class="property"></nof-view-property>
				</ng-container>
				<div class="co-validation">{{message}}</div>
			</form>
		</div>
    </div>
</div>