@using NakedObjects.Resources
@using NakedObjects.Web.Mvc.Html
@model Exception


@{
    ViewBag.Title = MvcUi.DestroyedErrorTitle;
}

<div id="body">
    <section class="main-content" >
        @(Html.TabbedHistory()) 
        <div class="error">
            <img alt="error"  src="@(Url.Content("~/Images/system-error.png"))" />
            <h2>
                @(MvcUi.DestroyedErrorText)
            </h2>
        </div>
    </section>
</div>