:host {
    display: block;
    padding-left: 20px;
    height: 100%;
    overflow-y: auto;
}

.title, .message, .code, .description, .stacktrace {
    display: block;
    margin-bottom: 20px;
}

.title, .message {
    font-size: 16pt;
    color: var(--warning-color);
}

.code, .description, .stacktrace {
    font-size: 12pt;
    color: var(--default-text-color);
}