<div [formGroup]="form">
    <div class="name">{{title}}:</div>

    <div *ngIf="propertyType === 'ref'">

        <div *ngIf="!isEditable" class="value" [ngClass]="classes()">
            {{formattedValue}}
        </div>

        <div *ngIf="isEditable" class="input-control text" [ngSwitch]="propertyEntryType">
            <!--"EntryType.AutoComplete"-->
            <div *ngSwitchCase="5">
                <input #focus [id]="propertyPaneId" class="value droppable" dnd-droppable [allowDrop]="accept(property)" (onDropSuccess)="drop($event.dragData)"
                    [ngClass]="classes()" placeholder="{{propertyDescription}}" type="text" [formControlName]="propertyId"
                    [geminiClear]="property" [form]="form" />
                <div class="suggestions" *ngIf="propertyChoices.length > 0">
                    <ul *ngFor="let choice of propertyChoices">
                        <li>
                            <a (click)="select(choice)">{{choiceName(choice)}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--"EntryType.ConditionalChoices"-->
            <div *ngSwitchCase="3">
                <select #focus [id]="propertyPaneId"  [formControlName]="propertyId">                 
                    <option *ngFor="let choice of propertyChoices" [ngValue]="choice">{{choiceName(choice)}}</option>
                </select>
            </div>

            <!--"EntryType.Choices"-->
            <div *ngSwitchCase="1">
                <select #focus [id]="propertyPaneId"  [formControlName]="propertyId">
                    <option *ngFor="let choice of propertyChoices" [ngValue]="choice">{{choiceName(choice)}}</option>
                </select>
            </div>

            <!--"EntryType.FreeForm"-->
            <div *ngSwitchCase="0">
                <input #focus [id]="propertyPaneId" class="value droppable" dnd-droppable [allowDrop]="accept(property)" (onDropSuccess)="drop($event.dragData)"
                    [ngClass]="classes()" placeholder="{{propertyDescription}}" type="text" [formControlName]="propertyId"
                    [geminiClear]="property" [form]="form" />
            </div>

        </div>
    </div>

    <div *ngIf="propertyType === 'scalar'">

        <div *ngIf="!isEditable">
            <div [ngSwitch]="propertyReturnType">
                <div *ngSwitchCase="'string'">
                    <nof-attachment-property *ngIf="isBlob" [attachment]="attachment"></nof-attachment-property>                    
                    <div *ngIf="!isBlob">
                        <div *ngIf="!isMultiline" class="value">
                            {{formattedValue}}
                        </div>
                        <div *ngIf="isMultiline" class="value multiline" [ngStyle]="{height : multilineHeight}">
                            <pre>{{formattedValue}}</pre>
                        </div>
                    </div>
                </div>

                <div *ngSwitchCase="'boolean'">
                    <input type="checkbox"  [checked]="value" disabled="disabled" />
                </div>

                <div *ngSwitchDefault>
                    <div class="value">
                        {{formattedValue}}
                    </div>
                </div>

            </div>
        </div>

        <div *ngIf="isEditable" class="input-control text">
            <div [ngSwitch]="propertyEntryType">
                <!--"EntryType.AutoComplete"-->
                <div *ngSwitchCase="5">
                    <input #focus [id]="propertyPaneId" class="value droppable" dnd-droppable [allowDrop]="accept(property)" (onDropSuccess)="drop($event.dragData)"
                        [ngClass]="classes()" placeholder="{{propertyDescription}}" type="text" [formControlName]="propertyId"
                        [geminiClear]="property" [form]="form" />
                    <div class="suggestions" *ngIf="propertyChoices.length > 0">
                        <ul *ngFor="let choice of propertyChoices">
                            <li>
                                <a (click)="select(choice)">{{choiceName(choice)}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--"EntryType.ConditionalChoices"-->
                <div *ngSwitchCase="3">
                    <select #focus [id]="propertyPaneId"  [formControlName]="propertyId">
                        <option *ngFor="let choice of propertyChoices" [ngValue]="choice">{{choiceName(choice)}}</option>
                    </select>
                </div>

                <!--"EntryType.Choices"-->
                <div *ngSwitchCase="1">
                    <select #focus [id]="propertyPaneId"  [formControlName]="propertyId">
                        <option *ngFor="let choice of propertyChoices" [ngValue]="choice">{{choiceName(choice)}}</option>
                    </select>
                </div>

                <!--"EntryType.FreeForm"-->
                <div *ngSwitchCase="0">
                    <div [ngSwitch]="propertyReturnType">
                        <div *ngSwitchCase="'string'" [ngSwitch]="format">
                            <div *ngSwitchCase="'date'">
                                <input #focus [id]="propertyPaneId"  type="date" placeholder="{{propertyDescription}}" [formControlName]="propertyId"
                                     (change)="datePickerChanged($event)"  />
                            </div>
                            <div *ngSwitchCase="'time'">
                                <input #focus [id]="propertyPaneId"  type="time" placeholder="{{propertyDescription}}" [formControlName]="propertyId"
                                     [geminiClear]="property" [form]="form" />
                            </div>
                            <div *ngSwitchDefault>
                                <input #focus *ngIf="!isMultiline" [id]="propertyPaneId"  placeholder="{{propertyDescription}}" type="{{isPassword ? 'password' : 'text'}}"
                                     [formControlName]="propertyId" [geminiClear]="property" [form]="form" />
                                <textarea #focus *ngIf="isMultiline" rows="{{rows}}" [id]="propertyPaneId" [formControlName]="propertyId"
                                    placeholder="{{propertyDescription}}"></textarea>
                            </div>
                        </div>
                        <div *ngSwitchCase="'boolean'">
                            <input #focus [id]="propertyPaneId"  type="checkbox" [geminiBoolean]="property" />{{propertyDescription}}
                        </div>
                        <div *ngSwitchDefault>
                            <input #focus [id]="propertyPaneId"  type="text" placeholder="{{propertyDescription}}" [formControlName]="propertyId"
                                [geminiClear]="property" [form]="form" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="validation">{{message}}</div>
</div>