<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocation" version="1.0.0" targetFramework="net452" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net452" />
  <package id="NakedObjects.ProgrammingModel" version="7.1.0-beta1" targetFramework="net451" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net452" />
</packages>