<div class="summary">
    <div class="name">{{title}}:</div>
    <div class="details">{{details}}</div>
    <div>
        <div *ngIf="showSummary()" class="icon summary" (click)="doSummary()"  title="Close Collection" alt="Close Collection"></div>
        <div *ngIf="showList()" class="icon list" (click)="doList()"  title="View as List" alt="View as List"></div>
        <div *ngIf="showTable()" class="icon table" (click)="doTable()"  title="View as Table" alt="View as Table"></div>
    </div>
</div>
<div class="messages">{{message}}</div>
<nof-action-bar *ngIf="showActions()" class="actions" [menuHolder]="collection"></nof-action-bar>
<nof-dialog *ngIf="showActions()" [parent]="collection" [selectedDialogId]="selectedDialogId"></nof-dialog>

<table *ngIf="showSummary()">
    <thead>
        <tr nof-header [collection]="collection" [state]="currentState"></tr>
    </thead>
    <tbody *ngIf="state === 'list' || hasTableData()" cdkDropList [cdkDropListConnectedTo]="dropZones" [cdkDropListOrientation]="'horizontal'">
        <tr *ngFor="let item of items; let i = index" cdkDrag [cdkDragData]="item" nof-row [item]="item" [row]="i" [withCheckbox]="!disableActions()" [isTable]="state === 'table'"></tr>
    </tbody>
</table>