:host {
    overflow: hidden;
    /*To cope with long prop names*/
    display: block;
}

:host:not(:last-child) {
    margin-bottom: 5px;
}

.name {
    display: block;
    float: left;
    width: 150px;
    padding-right: 5px;
    font-weight: bolder;
}

.field {
    display: block;
    float: left;
    width: 245px;
}

.reference, .value, collectionDetails {
    display: block;
    float: left;
    width: 245px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 1px;
}

.reference img {
    display: block;
    cursor: pointer;
    float: left;
    max-width: 245px;
    max-height: 100px;
}

/* Drag and drop*/

.value.droppable {
    border: solid;
    border-width: 1px;
    width: 245px;
    height: 20px;
}

.value.droppable {
    border-color: black;
}

.value.droppable.dnd-drag-over.candrop {
    border-color: var(--approval-color);
}

.value.droppable.dnd-drag-over {
    border-color: var(--warning-color);
}

.multiline {
    overflow: auto;
}

/* clear button on non-empty input field*/

.ng-clearable {
    background-image: var(--clearable-image);
    background-repeat: no-repeat;
    background-position: right -10px;
    background-size: 8px;
}

.ng-clearable[class*="link-color"] {
    background-image: var(--clearable-link-image);
}

.ng-clearable.ng-x {
    background-position: right 2px center;
}

.ng-clearable.ng-onX {
    cursor: pointer;
}

input::-ms-clear {
    display: none;
}

/* date fields*/

.input-control input.hasDatepicker, .input-control input.ui-timepicker-input {
    width: 217px;
}

img.ui-datepicker-trigger {
    margin-left: 5px;
    margin-top: 2px;
    width: 20px;
}

select {
    width: 245px;
    height: 20px;
}

select[multiple] {
    height: 68px;
    /*Issue with IE if just inherit the default height*/
}

.validation {
    color: var(--default-text-color);
    padding: 5px;
    font-size: 11pt;
}

.input-control input:not([type='checkbox']), textarea {
    width: 245px;
    padding-left: 2px;
}

input:not([type='checkbox']) {
    height: 20px;
}

input, select {
    border-style: none;
}

.suggestions {
    display: block;
    color: black;
    background-color: white;
    font-size: 10pt;
    font-weight: bolder;
    width: 245px;
}

.suggestions ul {
    display: block;
    margin: 0px;
    padding: 5px;
}

.suggestions ul:hover {
    color: white;
    background-color: Black;
}

.suggestions li {
    list-style-type: none;
}