
:host {
    display: block;
    float: left;
    padding: 0px;
    margin-top: 0px;
    margin-left: 1px; /*Else hover outline is hidden on the left-most menu */
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12pt;
    outline: none;
}

.name {
    display: block;
    cursor: pointer;
    padding: 5px;
    color: white;
}

.name:hover, .name:focus  {
    outline-color:white;
    outline-style: solid;
    outline-width: 1px;
}