<div *ngIf="expiredTransient" class="title">The requested view of unsaved object details has expired.</div>

<!--place holder-->
<ng-container *ngIf="!object && !(viewMode === 'CreateNew')">
    <div class="object view" [ngClass]="color"></div>
</ng-container>
<div *ngIf="object && (viewMode === 'View' || viewMode === 'EditByAction')" class="object view" [ngClass]="classes">
    <header class="header" cdkDropList [cdkDropListConnectedTo]="dropZones">
        <div class="title" cdkDrag [cdkDragData]="object" tabindex="0" (keydown)="copy($event)" (keypress)="copy($event)">
            <span class="type">{{friendlyName}}</span> {{title()}}
        </div>
        <!--<div>{{object.isDirty() ? "*" : ""}} </div>-->
        <nof-action-bar [actions]="actionHolders"></nof-action-bar>
        <div class="messages">{{message()}}</div>
    </header>
    <nof-action-list *ngIf="showActions()" [menuHolder]="object"></nof-action-list>
    <div class="main-column">
        <ng-container *ngIf="!isEditDialog(selectedDialogId)">
            <nof-dialog  [parent]="object" [selectedDialogId]="selectedDialogId"></nof-dialog>
            <nof-properties class="properties" *ngIf="properties" [properties]="properties"></nof-properties>
        </ng-container>
        <nof-edit-dialog *ngIf="isEditDialog(selectedDialogId)" [parent]="object" [selectedDialogId]="selectedDialogId" [properties]="properties"></nof-edit-dialog>
    </div>
    <nof-collections class="collections" *ngIf="collections" [collections]="collections"></nof-collections>
</div>
<div *ngIf="object && (viewMode === 'Edit' || viewMode === 'Transient' || viewMode === 'Form')" class="object edit" [ngClass]="classes">
    <form (ngSubmit)="onSubmit(false)" [formGroup]="form" autocomplete="off">
        <header class="header" cdkDropList [cdkDropListConnectedTo]="dropZones">
            <div class="title" cdkDrag [cdkDragData]="object" tabindex="0" (keydown)="copy($event)" (keypress)="copy($event)">
                <span class="type">{{friendlyName}}</span> {{title()}}
            </div>
            <div *ngIf="viewMode === 'Edit' || viewMode === 'Transient' || viewMode === 'Form'" class="menus">
                <nof-action-bar [actions]="actionHolders"></nof-action-bar>
            </div>
            <div class="messages">{{message()}}</div>
        </header>
        <div class="main-column">
            <nof-properties *ngIf="properties" [properties]="properties" [parent]="object" [form]="form"></nof-properties>
        </div>
    </form>
    <nof-collections *ngIf="collections" [collections]="collections"></nof-collections>
</div>
<div *ngIf="object && viewMode === 'NotPersistent'" class="object view" [ngClass]="classes">
    <header class="header" cdkDropList [cdkDropListConnectedTo]="dropZones">
        <div class="title" cdkDrag [cdkDragData]="object" tabindex="0" (keydown)="copy($event)" (keypress)="copy($event)">
            <span class="type">{{friendlyName}}</span> {{title()}}
        </div>
        <div class="messages">{{message()}}</div>
    </header>
    <div class="main-column">
        <nof-properties class="properties" *ngIf="properties" [properties]="properties"></nof-properties>
    </div>
    <nof-collections class="collections" *ngIf="collections" [collections]="collections"></nof-collections>
</div>
<div *ngIf="viewMode === 'CreateNew'" class="object edit" [ngClass]="classes">
    <nof-create-new-dialog  [parent]="object" [selectedDialogId]="selectedDialogId"></nof-create-new-dialog>
</div>
