<div class="summary">
    <div class='name'>{{collection.title}}:</div>
    <div class="details">{{collection.details}}</div>
    <div>
        <img ng-if="collection.mayHaveItems || !collection.disableActions()" class="icon-summary clickable-area" ng-click="collection.doSummary()" src="images/summary.png" title="Close Collection" />
        <img ng-if="collection.mayHaveItems" class="icon-table clickable-area" ng-click="collection.doTable()" src="images/table.png" title="View as Table" />
    </div>
</div>
<div class="messages">{{collection.message}}</div>
<div ng-if="!collection.disableActions()" class="actions" ng-include="'Content/partials/actions.html'"></div>
<div ng-if="!collection.disableActions() && dialog.matchingCollectionId === collection.id" class="dialog" ng-include="dialogTemplate"></div>
<table>
    <thead>
        <tr>
            <th ng-hide="collection.disableActions() || collection.items.length === 0"><input type="checkbox" id="{{collection.id+collection.onPaneId+'-all'}}" ng-model="collection.allSelected" ng-change="collection.selectAll()">All</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in collection.items">
            <td class="checkbox" ng-hide="collection.disableActions()">
                <input type="checkbox" id="{{collection.id+collection.onPaneId+'-'+ $index}}" ng-model="item.selected" ng-change="item.selectionChange($index)">
            </td>
            <td class="reference clickable-area" ng-class="item.color" gemini-enter="item.doClick()" ng-click="item.doClick()" gemini-rightclick="item.doClick(true)" gemini-drag tabindex="0">
                {{item.title}}
            </td>
        </tr>
    </tbody>
</table>