<div class="summary">
    <div class='name'>{{collection.title}}:</div>
    <div class="details">{{collection.details}}</div>
    <div ng-if="collection.mayHaveItems">
        <img class="icon-summary clickable-area" ng-click="collection.doSummary()" src="images/summary.png" title="Close Collection" />
        <img class="icon-table clickable-area" ng-click="collection.doTable()" src="images/table.png" title="View as Table" />
    </div>
</div>
<table>
    <tbody>
        <tr ng-repeat="item in collection.items" ng-class="item.color" gemini-enter="item.doClick()" ng-click="item.doClick()" gemini-rightclick="item.doClick(true)">
            <td class="reference clickable-area" gemini-drag tabindex="0">
                {{item.title}}
            </td>
        </tr>
    </tbody>
</table>