<div class="object view" ng-class="object.color">
    <div class="header">
        <div class="type">{{object.friendlyName}}</div>
        <div class="title" gemini-drag tabindex="0">{{object.title}}</div>
        <div>{{object.isDirty() ? "*" : ""}} </div>
        <div class="menu clickable-area" tabindex="0" gemini-enter="object.toggleActionMenu()" ng-click="object.toggleActionMenu()" ng-disabled="object.disableActions()" title={{object.actionsTooltip()}} accesskey="a">
            Actions
        </div>
        <div class="action clickable-area" tabindex="0" gemini-enter="object.doEdit()" ng-click="object.doEdit()" ng-hide="object.hideEdit()">
            Edit
        </div>
        <div class="action clickable-area" tabindex="0" gemini-enter="object.doReload()" ng-click="object.doReload()">
            Reload
        </div>
        <div class="messages">{{object.message}}</div>
    </div>
    <div class="actions" ng-include="actionsTemplate"></div>
    <div class="main-column">
        <div ng-if="!dialog.matchingCollectionId"  class="dialog" ng-include="dialogTemplate"></div>
        <div class="properties" ng-include="propertiesTemplate"></div>
    </div>
    <div class="collections" ng-include="collectionsTemplate"></div>
</div>