<?xml version="1.0"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Validate</Title>
      <Author>Naked Objects Group</Author>
      <Description>Adds a method to validate the value(s) being entered into a corresponding property or as parameters for a corresponding action.
</Description>
      <HelpUrl>www.nakedobjects.net</HelpUrl>
      <Shortcut>val</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal Editable="true">
          <ID>PropertyOrActionName</ID>
          <ToolTip>Enter the name of the property or action for which values are to be validated.</ToolTip>
          <Default>PropertyOrActionName</Default>
          <Function>
          </Function>
        </Literal>
        <Literal Editable="true">
          <ID>User Message</ID>
          <ToolTip>Enter the message explaining why the value(s) provided are not valid.</ToolTip>
          <Default>User Message</Default>
          <Function>
          </Function>
        </Literal>
        <Literal Editable="true">
          <ID>Parameters</ID>
          <ToolTip>Enter a single parameter matching the property type or list of parameters matching the action method signature.</ToolTip>
          <Default>parameters</Default>
          <Function>
          </Function>
        </Literal>
        <Object Editable="true">
          <ID>Condition</ID>
          <ToolTip>Specify the rule(s) that define invalid parameter(s).</ToolTip>
          <Default>false</Default>
          <Function>
          </Function>
          <Type>boolean</Type>
        </Object>
      </Declarations>
      <Code Language="csharp" Kind="method decl"><![CDATA[
public string Validate$PropertyOrActionName$($Parameters$)
{
  var rb = new ReasonBuilder();
  rb.AppendOnCondition($Condition$, "$User Message$");
  return rb.Reason;
}
      ]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>