/*Global fonts*/

.gemini, table, a, pre, textarea, input, button {
    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "iconFont";
    src: url('./fonts/iconFont.eot');
    src: url('./fonts/iconFont.eot?#iefix') format('embedded-opentype'), url('./fonts/iconFont.svg#iconFont') format('svg'), url('./fonts/iconFont.woff') format('woff'), url('./fonts/iconFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Override unwanted defaults */

.gemini * {
    /*Specifies that padding & border are added INSIDE the specified width*/
    box-sizing: border-box;
}

pre {
    white-space: pre-wrap;
    /* CSS 3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

html, #main, body, .background, .single, .split {
    margin: 0px;
    height: 100%;
    /*fill the vertical space*/
    background-color: var(--default-background-color);
}

.background {
    overflow-y: auto;
}

.single, .split {
    overflow-x: auto;
    padding-bottom: 60px;
}

.single {
    width: 100%;
}

.split {
    float: left;
    width: 50%;
}

.object-color0 {
    background-color: var(--object-color0);
    color: var(--text-color0);
}

.link-color0 {
    background-color: var(--link-color0);
    color: var(--text-color0);
}

.object-color1 {
    background-color: var(--object-color1);
    color: var(--text-color1);
}

.link-color1 {
    background-color: var(--link-color1);
    color: var(--text-color1);
}

.object-color2 {
    background-color: var(--object-color2);
    color: var(--text-color2);
}

.link-color2 {
    background-color: var(--link-color2);
    color: var(--text-color2);
}

.object-color3 {
    background-color: var(--object-color3);
    color: var(--text-color3);
}

.link-color3 {
    background-color: var(--link-color3);
    color: var(--text-color3);
}

.object-color4 {
    background-color: var(--object-color4);
    color: var(--text-color4);
}

.link-color4 {
    background-color: var(--link-color4);
    color: var(--text-color4);
}

.object-color5 {
    background-color: var(--object-color5);
    color: var(--text-color5);
}

.link-color5 {
    background-color: var(--link-color5);
    color: var(--text-color5);
}

.object-color6 {
    background-color: var(--object-color6);
    color: var(--text-color6);
}

.link-color6 {
    background-color: var(--link-color6);
    color: var(--text-color6);
}

.object-color7 {
    background-color: var(--object-color7);
    color: var(--text-color7);
}

.link-color7 {
    background-color: var(--link-color7);
    color: var(--text-color7);
}

.object-color8 {
    background-color: var(--object-color8);
    color: var(--text-color8);
}

.link-color8 {
    background-color: var(--link-color8);
    color: var(--text-color8);
}

.object-color9 {
    background-color: var(--object-color9);
    color: var(--text-color9);
}

.link-color9 {
    background-color: var(--link-color9);
    color: var(--text-color9);
}

.object-color10 {
    background-color: var(--object-color10);
    color: var(--text-color10);
}

.link-color10 {
    background-color: var(--link-color10);
    color: var(--text-color10);
}

.object-color11 {
    background-color: var(--object-color11);
    color: var(--text-color11);
}

.link-color11 {
    background-color: var(--link-color11);
    color: var(--text-color11);
}

.object-color12 {
    background-color: var(--object-color12);
    color: var(--text-color12);
}

.link-color12 {
    background-color: var(--link-color12);
    color: var(--text-color12);
}