:root {
    --theme-accent-color: #11648a;
    --default-background-color: white;
    --menu-background-color: lightgrey;
    --default-text-color: black;
    --contrast-text-color: white;
    --warning-text-color: red;
    --default-outline-color: var(--theme-accent-color);
    --contrast-outline-color: white;
    --disabled-color: grey;
    --link-color0: var(--theme-accent-color);
    --object-color0: var(--default-background-color);
    --text-color0: var(--contrast-text-color);
    --link-color1: var(--theme-accent-color);
    --object-color1: var(--default-background-color);
    --text-color1: var(--contrast-text-color);
    --link-color2: var(--theme-accent-color);
    --object-color2: var(--default-background-color);
    --text-color2: var(--contrast-text-color);
    --link-color3: var(--theme-accent-color);
    --object-color3: var(--default-background-color);
    --text-color3: var(--contrast-text-color);
    --link-color4: var(--theme-accent-color);
    --object-color4: var(--default-background-color);
    --text-color4: var(--contrast-text-color);
    --link-color5: var(--theme-accent-color);
    --object-color5: var(--default-background-color);
    --text-color5: var(--contrast-text-color);
    --link-color6: var(--theme-accent-color);
    --object-color6: var(--default-background-color);
    --text-color6: var(--contrast-text-color);
    --link-color7: var(--theme-accent-color);
    --object-color7: var(--default-background-color);
    --text-color7: var(--contrast-text-color);
    --link-color8: var(--theme-accent-color);
    --object-color8: var(--default-background-color);
    --text-color8: var(--contrast-text-color);
    --link-color9: var(--theme-accent-color);
    --object-color9: var(--default-background-color);
    --text-color9: var(--contrast-text-color);
    --link-color10: var(--theme-accent-color);
    --object-color10: var(--default-background-color);
    --text-color10: var(--contrast-text-color);
    --link-color11: var(--theme-accent-color);
    --object-color11: var(--default-background-color);
    --text-color11: var(--contrast-text-color);
    --link-color12: var(--theme-accent-color);
    --object-color12: var(--default-background-color);
    --text-color12: var(--contrast-text-color);
    --header-background-image: linear-gradient(to bottom, var(--theme-accent-color), #187ba9 100%);
    --summary-icon: url("assets/alt.summary.png");
    --list-icon: url("assets/alt.list.png");
    --table-icon: url("assets/alt.table.png");
}