input {
    width: var(--field-value-width);
}

/* clear button on non-empty input field*/

.ng-clearable {
    background-image: var(--clearable-image);
    background-repeat: no-repeat;
    background-position: right -10px;
    background-size: 8px;
}

.ng-clearable[class*="link-color"] {
    background-image: var(--clearable-link-image);
}

.ng-clearable.ng-x {
    background-position: right 2px center;
}

.ng-clearable.ng-onX {
    cursor: pointer;
}

input::-ms-clear {
    display: none;
}