:host {
    overflow-y: auto;
    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    color: black;
    font-size: 11pt; 
    font-weight: 100;
    display: block;
        height: 100%;
        margin-left: 20px;
}
viewTitle {
    display: inline-block; /*Otherwise focus outline takes full width*/
}

.title, .header .type {
    position: relative;
    font-weight: 200;
    font-size: 24pt;
    line-height: 38pt;
    margin-left: 1px; /*Make room for focus outline*/
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 20px;
    margin-top: 2px;
    display: block;
}

.header .type {
    float: left;
    margin-right: 20px;
    display: none; /*Change this to display type (e.g. for accessibility)*/
}
nof-parameters {
    display: inline-block;
}
.columnHeader {
    display: inline-block;
    vertical-align: top;
    width: 247px;
    padding-left: 10px;
}

input.ok {
    font-size: 9pt;
    height: 20px;
    margin-top: 1px;
    margin-right: 0px;
    margin-left: 2px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: top;
    outline-color: lightgray;
}

input.close {
    float: left;
    margin-left: 6px;
    margin-right: 10px;
}
.count {
    display: inline-block;
    margin-top: 1px;
}
.co-validation {
    display: inline-block;
}