th {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1); /*Override browser default*/
    text-align: left;
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    vertical-align: top;
}