<?xml version="1.0"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Property - choices</Title>
      <Author>Naked Objects Group</Author>
      <Description>Adds a method to specify the choices (drop-down list) for a corresponding property.</Description>
      <HelpUrl>www.nakedobjects.net</HelpUrl>
      <Shortcut>propcho</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>PropertyName</ID>
          <ToolTip>Enter the name for the corresponding property.</ToolTip>
          <Default>PropertyName</Default>
        </Literal>
        <Object>
          <ID>Choices</ID>
          <ToolTip>An array, with one element for each of the corresponding action's parameters.  Each element in the array is either null (if that parameter has no choices) or is itself an array or typed List, representing the set of values from which the user must select for that parameter (e.g. rendered as a drop-down list).</ToolTip>
          <Default>Choices</Default>
        </Object>
        <Literal>
          <ID>Type</ID>
          <Default>Type</Default>
        </Literal>
      </Declarations>
      <Code Language="CSharp" Kind="method decl"><![CDATA[
      public IList<$Type$> Choices$PropertyName$()
      {
        return $Choices$;
      }
      ]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>