input {  /*To override user agent style sheet defaults*/
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    padding: 5px;
}

 input:hover, input:focus  {
    outline-color: white;
    outline-style: solid;
    outline-width: 1px;
}

input:disabled {
    outline-style: none;
    color: grey;
}