
input {  /*To override user agent style sheet defaults*/
    white-space: normal; /*Needed to force long names to wrap*/
    text-align: left;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    padding: 5px;
}

input:focus, input:hover   {
    outline-color: white;
    outline-style: solid;
    outline-width: 1px;
}

input:disabled {
    color: grey;
    outline: none;
}