<div class="header">
 <div class="type">{{object.friendlyName}}</div>
 <div class="title" gemini-drag tabindex="0">{{object.title}}</div>
 <div>{{object.isDirty() ? "*" : ""}} </div>
</div>
<div class="main-column">
 <div class="properties">
  <div class="property" ng-repeat="property in object.properties">
   <div ng-if="property.title == 'Product'" ng-include="'Content/partials/readOnlyProperty.html'"></div>
  </div>
  <div class="property" ng-repeat="property in object.properties">
   <div ng-if="property.title == 'Order Qty'" ng-include="'Content/partials/readOnlyProperty.html'"></div>
  </div>
 </div>
</div>
<div class="collections">
 <div class="calendar" custom-calendar="{nameOfCollection: 'Work Order Routings', startPropertyId:'ScheduledStartDate', endPropertyId: 'ScheduledEndDate', allDay: false, defaultView: 'month'}"></div>
</div>

