:host {
    display: block;
}

nof-action   {
    outline: none;
    display: block;
    float: left;
    padding: var(--space-3);
    margin-left: var(--space-1); /*Else hover outline is hidden on the left-most menu*/
    margin-right: var(--space-4);
    margin-bottom: var(--space-3); /*Else hover outline is hidden on the bottom*/
    font-weight: var(--font-weight-2)er;
    font-size: var(--font-size-2);
}