:host {
    display: block;
}

nof-action   {
    outline: none;
    display: block;
    float: left;
    padding: 5px;
    margin-left: 1px; /*Else hover outline is hidden on the left-most menu*/
    margin-right: 10px;
    margin-bottom: 5px; /*Else hover outline is hidden on the bottom*/
    font-weight: bolder;
    font-size: 11pt;
}