<div ng-repeat="menu in (menu.menuItems || object.menuItems || collection.menuItems)">
    <div ng-hide="!menu.name" ng-init="navCollapsed = !!menu.name" ng-click="navCollapsed = !navCollapsed" class="submenu clickable-area" ng-switch="navCollapsed">
        {{menu.name}}
        <div ng-switch-when="true" class="icon-expand"></div>
        <div ng-switch-when="false" class="icon-collapse"></div>
    </div>
    <div class="" ng-class="{collapsed : navCollapsed, open : !navCollapsed, rootMenu : !menu.name }">
        <div  ng-show="menu.actions  && menu.actions.length > 0"  ng-repeat="action in menu.actions">
            <div class="action clickable-area" title="{{action.description}}" tabindex="0" ng-click="action.doInvoke()" gemini-enter="action.doInvoke()" gemini-rightclick="action.doInvoke(true)" ng-disabled="action.disabled()">
                {{action.title}}
            </div>
        </div>
        <div ng-include="menu.menuItems && menu.menuItems.length > 0 ? actionsTemplate : null">
        </div>
    </div>
</div>
