<div class="summary">
    <div class='name'>{{collection.title}}:</div>
    <div class="details">{{collection.details}}</div>
    <div ng-if="collection.mayHaveItems">
        <img class="icon-summary clickable-area" ng-click="collection.doSummary()" src="images/summary.png" title="Close Collection" />
        <img class="icon-list clickable-area" ng-click="collection.doList()" src="images/list.png" title="View as List" />
    </div>
</div>
<div class="messages">{{collection.message}}</div>
<div ng-if="!collection.disableActions()" class="actions" ng-include="'Content/partials/actions.html'"></div>
<div ng-if="!collection.disableActions() && dialog.matchingCollectionId === collection.id" class="dialog" ng-include="dialogTemplate"></div>
<table>
    <thead>
    <tr>
        <th ng-hide="collection.disableActions() || collection.items.length === 0"><input type="checkbox" id="{{collection.id+collection.onPaneId+'-all'}}" ng-model="collection.allSelected" ng-change="collection.selectAll()">All</th>
        <th ng-repeat="heading in collection.header" scope="col">
            {{heading}}
        </th>
    </tr>
    </thead>
    <tbody>
        <tr ng-switch="item.tableRowViewModel.hasTitle" ng-repeat="item in collection.items" ng-class="item.color" class="clickable-area" gemini-enter="item.doClick()"  gemini-rightclick="item.doClick(true)" gemini-drag tabindex="0">
            <td class="checkbox" ng-hide="collection.disableActions()">
                <input type="checkbox" id="{{collection.id+collection.onPaneId+'-'+ $index}}" ng-model="item.selected" ng-change="item.selectionChange($index)">
            </td>
            <td ng-switch-when="true" class="cell">
                {{item.tableRowViewModel.title}}
            </td>
            <td class="cell" ng-click="item.doClick()"  ng-repeat="property in item.tableRowViewModel.properties" ng-switch="property.type">
                <div ng-switch-when="ref" class="clickable-area">
                    {{property.formattedValue}}
                </div>
                <div ng-switch-when="scalar" ng-switch="property.returnType">
                    <div ng-switch-when="boolean" class="clickable-area">
                        <input type="checkbox" ng-checked="property.value" disabled="disabled" />
                    </div>
                    <div ng-switch-when="number" class="clickable-area">
                        <div class="clickable-area number">{{property.formattedValue}}</div>
                    </div>
                    <div ng-switch-default class="clickable-area">
                        <div class="clickable-area">{{property.formattedValue}}</div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>