<div class="title">
    {{dialog.title}}
</div>
<form>
    <div class="parameters">
        <div class="parameter" id="{{parameter.argId}}" ng-repeat="parameter in dialog.parameters" ng-switch="parameter.type">
            <div class="name">{{parameter.title}}</div>

            <div ng-switch-when="ref">
                <div class="value input-control text" ng-switch="parameter.hasChoices">

                    <input type="hidden" value="{{parameter.reference}}" ng-model="parameter.reference"/>

                    <div ng-switch-when="false" ng-switch="parameter.hasConditionalChoices">                   
                        <div ng-switch-when="false" ng-switch="parameter.hasPrompt">

                            <div ng-switch-when="false" class="value droppable" ng-model="$parent.parameter.choice" ng-class="parameter.color" gemini-drop ng-blur="parameter.blur()">
                                {{parameter.value}}
                            </div>

                            <input ng-switch-when="true" type="text" ng-model="$parent.parameter.choice" select="parameter.prompt(request)" gemini-autocomplete gemini-drop ng-blur="parameter.blur()"/>
                        </div>

                        <div ng-switch-when="true" ng-switch="parameter.isMultipleChoices">
                            <select ng-switch-when="false" ng-model="$parent.parameter.choice" select="parameter.conditionalChoices(args)" gemini-conditionalchoices ng-blur="parameter.blur()"></select>
                            <select multiple ng-switch-when="true" ng-model="$parent.parameter.multiChoices" select="parameter.conditionalChoices(args)" gemini-conditionalchoices ng-blur="parameter.blur()"></select>
                        </div>

                    </div>

                    <div ng-switch-when="true" ng-switch="parameter.isMultipleChoices">
                        <select ng-switch-when="false" ng-model="parameter.choice" ng-options="c as c.name for c in parameter.choices" ng-blur="parameter.blur()"></select>
                        <select multiple ng-switch-when="true" ng-model="parameter.multiChoices" ng-options="c as c.name for c in parameter.choices" ng-blur="parameter.blur()"></select>
                    </div>
                </div>
            </div>

            <div ng-switch-when="scalar">
                <div class="value input-control text" ng-switch="parameter.hasChoices">

                    <div ng-switch-when="false" ng-switch="parameter.hasConditionalChoices">

                        <div ng-switch-when="false" ng-switch="parameter.returnType">

                            <div ng-switch-when="string" ng-switch="parameter.format">
                                <div ng-switch-when="date-time">
                                    <input type="text" placeholder= "{{parameter.description}}" ng-model="$parent.parameter.value" gemini-datepicker ng-blur="parameter.blur()"/>
                                </div>
                                <input ng-switch-default type="text" placeholder="{{parameter.description}}" ng-model="parameter.value" ng-blur="parameter.blur()"/>
                            </div>

                            <div ng-switch-when="boolean">
                                <input type="checkbox" ng-model="parameter.value" ng-blur="parameter.blur()"/>
                            </div>

                            <div ng-switch-default>
                                <input type="text" placeholder="{{parameter.description}}" ng-model="parameter.value" ng-blur="parameter.blur()"/>
                            </div>

                        </div>

                        <div ng-switch-when="true" ng-switch="parameter.isMultipleChoices">
                            <select ng-switch-when="false" ng-model="$parent.parameter.choice" select="parameter.conditionalChoices(args)" gemini-conditionalchoices ng-blur="parameter.blur()"></select>
                            <select multiple ng-switch-when="true" ng-model="$parent.parameter.multiChoices" select="parameter.conditionalChoices(args)" gemini-conditionalchoices ng-blur="parameter.blur()"></select>
                        </div>

                    </div>

                    <div ng-switch-when="true" ng-switch="parameter.isMultipleChoices">
                        <select ng-switch-when="false" ng-model="parameter.choice" ng-options="c as c.name for c in parameter.choices" ng-blur="parameter.blur()"><option></option></select>
                        <select multiple ng-switch-when="true" ng-model="parameter.multiChoices" ng-options="c as c.name for c in parameter.choices" ng-blur="parameter.blur()"></select>
                    </div>
                </div>
            </div>

            <div class="validation">{{parameter.message}}</div>

        </div>
        {{dialog.message}}
    </div>
    <input class="ok" tabindex="0" type="submit" value="OK"  gemini-click="dialog.doInvoke()" gemini-rightclick="dialog.doInvoke(true)" />   
    <input class="cancel" tabindex="0" type="button" ng-click="dialog.doClose()" value="Cancel" />
</form>
