<div class="title">
    {{dialog.title}}
</div>
<form>
    <div class="parameters">
        <div class="parameter" ng-repeat="parameter in dialog.parameters" ng-switch="parameter.type">
            <div class="name"><label for="{{parameter.paneArgId}}">{{parameter.title}}</label>
            </div>
            <div ng-switch-when="ref">

                <div class="value input-control text" ng-switch="parameter.entryType">
                    <input type="hidden" value="{{parameter.reference}}" ng-model="parameter.reference"/>

                    <!--"EntryType.AutoComplete"-->
                    <div ng-switch-when="5">
                        <input id="{{parameter.paneArgId}}" class="{{parameter.status}} value droppable" ng-class="parameter.color" placeholder="{{parameter.description}}" type="text" ng-model="$parent.parameter.selectedChoice" select="parameter.prompt(request)" gemini-drop gemini-autocomplete gemini-fieldmandatorycheck gemini-clear/>
                    </div>

                    <!--"EntryType.MultipleConditionalChoices"-->
                    <div ng-switch-when="4">
                        <select id="{{parameter.paneArgId}}" class="{{parameter.status}}" multiple ng-model="$parent.parameter.selectedMultiChoices" select="parameter.conditionalChoices(args)" gemini-conditionalchoices gemini-fieldmandatorycheck>
                            <option value="" disabled selected>{{parameter.description}}</option>
                        </select>
                    </div>

                    <!--"EntryType.ConditionalChoices"-->
                    <div ng-switch-when="3">
                        <select id="{{parameter.paneArgId}}" class="{{parameter.status}}" ng-model="$parent.parameter.selectedChoice" select="parameter.conditionalChoices(args)" gemini-conditionalchoices gemini-fieldmandatorycheck>
                            <option value="" disabled selected>{{parameter.description}}</option>
                        </select>
                    </div>

                    <!--"EntryType.MultipleChoices"-->
                    <div ng-switch-when="2">
                        <select id="{{parameter.paneArgId}}" class="{{parameter.status}}" multiple ng-model="parameter.selectedMultiChoices" ng-options="c as c.name for c in parameter.choices" gemini-fieldmandatorycheck>
                            <option value="" disabled>{{parameter.description}}</option>
                        </select>
                    </div>

                    <!--"EntryType.Choices"-->
                    <div ng-switch-when="1">
                        <select id="{{parameter.paneArgId}}" class="{{parameter.status}}" ng-model="parameter.selectedChoice" ng-options="c as c.name for c in parameter.choices" gemini-fieldmandatorycheck>
                            <option value="" disabled>{{parameter.description}}</option>
                        </select>
                    </div>

                    <!--"EntryType.FreeForm"-->
                    <div ng-switch-when="0">
                        <div tabindex="0" class="value droppable" ng-model="parameter.selectedChoice" ng-class="parameter.color" gemini-drop gemini-fieldmandatorycheck  gemini-clear>
                            {{parameter.value || parameter.description}}
                        </div>
                    </div>

                </div>
            </div>

            <div ng-switch-when="scalar">
                <div class="value input-control text" ng-switch="parameter.entryType">

                    <!--"EntryType.File"-->
                    <div ng-switch-when="6">
                        <input id="{{parameter.paneArgId}}" type="file" class="{{parameter.status}}" ng-model="$parent.parameter.file" placeholder="{{parameter.description}}" gemini-fileupload/>
                    </div>

                    <!--"EntryType.AutoComplete"-->
                    <div ng-switch-when="5">
                        <input id="{{parameter.paneArgId}}" class="{{parameter.status}}" ng-model="$parent.parameter.selectedChoice" select="parameter.prompt(request)" placeholder="{{parameter.description}}" gemini-autocomplete gemini-fieldmandatorycheck  gemini-clear/>
                    </div>

                    <!--"EntryType.MultipleConditionalChoices"-->
                    <div ng-switch-when="4">
                        <select id="{{parameter.paneArgId}}" class="{{parameter.status}}" multiple ng-model="$parent.parameter.selectedMultiChoices" select="parameter.conditionalChoices(args)" gemini-conditionalchoices gemini-fieldmandatorycheck>
                            <option value="" disabled selected>{{parameter.description}}</option>
                        </select>
                    </div>

                    <!--"EntryType.ConditionalChoices"-->
                    <div ng-switch-when="3">
                        <select id="{{parameter.paneArgId}}" class="{{parameter.status}}" ng-model="$parent.parameter.selectedChoice" select="parameter.conditionalChoices(args)" gemini-conditionalchoices gemini-fieldmandatorycheck>
                            <option value="" disabled selected>{{parameter.description}}</option>
                        </select>
                    </div>


                    <!--"EntryType.MultipleChoices"-->
                    <div ng-switch-when="2">
                        <select id="{{parameter.paneArgId}}" class="{{parameter.status}}" multiple ng-model="parameter.selectedMultiChoices" ng-options="c as c.name for c in parameter.choices" gemini-fieldmandatorycheck>
                            <option value="" disabled>{{parameter.description}}</option>
                        </select>
                    </div>

                    <!--"EntryType.Choices"-->
                    <div ng-switch-when="1">
                        <select id="{{parameter.paneArgId}}" class="{{parameter.status}}" ng-model="parameter.selectedChoice" ng-options="c as c.name for c in parameter.choices" gemini-fieldmandatorycheck>
                            <option value="" disabled>{{parameter.description}}</option>
                        </select>
                    </div>

                    <!--"EntryType.FreeForm"-->
                    <div ng-switch-when="0">
                        <div ng-switch="parameter.returnType">
                            <div ng-switch-when="string" ng-switch="parameter.format">
                                <div ng-switch-when="date">
                                    <input id="{{parameter.paneArgId}}" class="{{parameter.status}}" type="date" placeholder="{{parameter.description}}" ng-model="$parent.parameter.value" gemini-datepicker gemini-fieldvalidate gemini-clear/>
                                </div>
                                <div ng-switch-when="time">
                                    <input id="{{parameter.paneArgId}}" class="{{parameter.status}}" type="time" placeholder="{{parameter.description}}" ng-model="$parent.parameter.value" gemini-timepicker gemini-fieldvalidate gemini-clear/>
                                </div>
                                <div ng-switch-default ng-switch="parameter.multipleLines">
                                    <input ng-switch-when="1" id="{{parameter.paneArgId}}" class="{{parameter.status}}" placeholder="{{parameter.description}}" type="{{parameter.password ? 'password' : 'text'}}" ng-model="parameter.value" gemini-fieldvalidate gemini-clear/>
                                    <textarea ng-switch-default rows="{{$parent.parameter.multipleLines}}" id="{{$parent.parameter.paneArgId}}" class="{{$parent.parameter.status}}" ng-model="$parent.parameter.value" gemini-fieldvalidate gemini-placeholder="$parent.parameter.description"></textarea>
                                </div>
                            </div>
                            <div ng-switch-when="boolean">
                                <input id="{{parameter.paneArgId}}" class="{{parameter.status}}" type="checkbox" ng-model="parameter.value" gemini-boolean/>{{parameter.description}}
                            </div>
                            <div ng-switch-default>
                                <input id="{{parameter.paneArgId}}" class="{{parameter.status}}" type="text" placeholder="{{parameter.description}}" ng-model="parameter.value" gemini-fieldvalidate  gemini-clear/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="validation">{{parameter.message}}</div>
        </div>
        <div class="co-validation">{{dialog.message}}</div>
    </div>
    <input class="ok" tabindex="0" type="submit" value="OK" title="{{dialog.tooltip()}}" ng-disabled="!dialog.clientValid()" gemini-enter="dialog.doInvoke()" ng-click="dialog.doInvoke()" gemini-rightclick="dialog.doInvoke(true)"/>
    <input class="cancel" tabindex="0" type="button" gemini-enter="dialog.doCloseReplaceHistory()" ng-click="dialog.doCloseReplaceHistory()" value="Cancel" />
</form>
