

    <h2>Details</h2>

    <div class="property" ng-repeat="property in object.properties">
        <div ng-if="property.title == 'Name'"   ng-include="'Content/partials/readOnlyProperty.html'"></div>
    </div>





    <h2>Dates</h2>
    <div class="property" ng-repeat="property in object.properties">
        <div ng-if="property.title == 'Sell Start Date'" ng-include="'Content/partials/readOnlyProperty.html'"></div>
    </div>

    <div class="property" ng-repeat="property in object.properties">
        <div ng-if="property.title == 'Sell End Date'" ng-include="'Content/partials/readOnlyProperty.html'"></div>
    </div>




    <h2>Internal</h2>

    <div class="property" ng-repeat="property in object.properties">
        <div ng-if="property.title == 'Safety Stock Level'" ng-include="'Content/partials/readOnlyProperty.html'"></div>
    </div>

