<div class="list">
    <div class="header">
        <div class="title">
            {{title}}
        </div>
        <div class="menu clickable-area" tabindex="0" ng-click="object.toggleActionMenu()">
            Actions
        </div>
        <div class="messages"></div>
    </div>
    <div class="collection">
        <div class="summary">
            <div class="details">{{collection.size}} Item(s)</div>
            <div class="icon-table clickable-area" ng-click="collection.doTable()"></div>
        </div>
        <table>
            <tbody>
                <tr ng-repeat="item in collection.items">
                    <td class="checkbox">
                        <input type="checkbox">
                    </td>
                    <td class="reference clickable-area" ng-class="item.color" gemini-enter="item.doClick()" ng-click="item.doClick()" gemini-rightclick="item.doClick(true)" gemini-drag tabindex="0">
                            {{item.title}}
                    </td>
                </tr>
            </tbody>
        </table>   
    </div>
</div>
