<div class="multiLineDialog">
 <div class="header">
  <div class="title">
   {{multiLineDialog.title}}
  </div>
 </div>

 <div class="lineDialog" ng-repeat="dialog in multiLineDialog.dialogs">
  <form>
   <div class="parameters" ng-include="parametersTemplate"></div>
    <div class="co-validation">{{dialog.message}}</div>
    <input class="button" tabindex="0" type="submit" value="Submit" title="{{dialog.tooltip()}}" ng-disabled="!dialog.clientValid() || dialog.submitted" gemini-enter="dialog.doInvoke()" ng-click="dialog.doInvoke()"/>
   <input class="button" tabindex="0" type="submit" value="Remove" title="Remove line without submitting" ng-disabled="dialog.submitted" gemini-enter="multiLineDialog.clear($index)" ng-click="multiLineDialog.clear($index)" />
   <input class="button" tabindex="0" type="submit" value="New" title="Add a new line below this one" gemini-enter="multiLineDialog.add($index)" ng-click="multiLineDialog.add($index)" />
  </form>
 </div>

 <div class="endForm">
  <input class="button" tabindex="0" type="submit" value="Submit All" title="{{multiLineDialog.tooltip()}}" ng-disabled="!multiLineDialog.clientValid()" gemini-enter="multiLineDialog.submitAll()" ng-click="multiLineDialog.submitAll()" />
  <input class="button" tabindex="0" type="submit" value="Close" title="" gemini-enter="multiLineDialog.close()" ng-click="multiLineDialog.close()" />
 </div>
</div>