<div class="object edit" ng-class="object.color">
    <div class="header" ng-switch="object.isTransient">
        <div class="type">{{object.domainType}}</div>
        <div class="title">Editing - {{object.title}}</div>
        <div class="action clickable-area" tabindex="0" gemini-enter="object.doSave()" ng-click="object.doSave(true)">
            Save
        </div>
        <div  ng-switch-when="true"  class="action clickable-area" tabindex="0" gemini-enter="object.doSave()" ng-click="object.doSave(false)">
            Save & Close
        </div>
        <div class="action clickable-area" tabindex="0" gemini-enter="object.doEditCancel()" ng-click="object.doEditCancel()">
            Cancel
        </div>
    </div>
    <div class="main-column">
        <div class="properties">
            <div class="property" ng-repeat="property in object.properties" ng-switch="property.type">

                <div class="name"><label for="{{property.argId}}">{{property.title}}:</label></div>

                <div ng-switch-when="ref" ng-switch="property.isEditable">

                    <div ng-switch-when="false" class="value" ng-class="property.color">
                        {{property.value}}
                    </div>

                    <div ng-switch-when="true" class='value input-control text' ng-switch="property.hasChoices" >
                        <input type='hidden' value='{{property.reference}}' ng-model="property.reference" />

                        <div ng-switch-when="false" ng-switch="property.hasConditionalChoices">

                            <div ng-switch-when="false" ng-switch="property.hasPrompt">

                                <div ng-switch-when="false" tabindex="0" class="value droppable" ng-model="$parent.property.choice" ng-class="property.color" gemini-drop>
                                    {{property.value}}
                                </div>

                                <input id="{{property.argId}}" class="{{property.status}}" placeholder='{{property.description}}' ng-switch-when="true" type="text" ng-model="$parent.property.choice" select="property.prompt(request)" gemini-autocomplete gemini-drop/>

                            </div>

                            <select id="{{property.argId}}" class="{{property.status}}" ng-switch-when="true" ng-model="$parent.property.choice" select="property.conditionalChoices(args)" gemini-conditionalchoices><option value="" disabled selected>{{property.description}}</option></select>

                        </div>

                        <select id="{{property.argId}}" class="{{property.status}}" ng-switch-when="true" ng-model="property.choice" ng-options="c as c.name for c in property.choices"><option value="" disabled>{{property.description}}</option></select>
                    </div>
                </div>
                <div ng-switch-when="scalar" ng-switch="property.isEditable">

                    <div ng-switch-when="false" ng-switch="property.returnType">

                        <div ng-switch-when="string" ng-switch="property.format">
                            <div ng-switch-when="date-time" class='value'>{{property.value }}</div>
                            <div ng-switch-when="blob" class='reference clickable-area' ng-model="$parent.property.attachment" gemini-attachment></div>
                            <div ng-switch-default class='value'>{{property.value}}</div>
                        </div>

                        <div ng-switch-when="boolean">
                            <input id="{{property.argId}}" type="checkbox" onclick=" return false " ng-checked="property.value" disabled="disabled" />
                        </div>

                        <div ng-switch-default>
                            <div class='value'>{{property.value}}</div>
                        </div>
                    </div>

                    <div ng-switch-when="true" class='value input-control text' ng-switch="property.hasChoices">

                        <div ng-switch-when="false" ng-switch="property.hasConditionalChoices">

                            <div ng-switch-when="false" ng-switch="property.returnType">

                                <div ng-switch-when="string" ng-switch="property.format">
                                    <div ng-switch-when="date-time">
                                        <input id="{{property.argId}}" class="{{property.status}}" type='text' placeholder='{{property.description}}' ng-model="$parent.property.value" gemini-datepicker />
                                    </div>
                                    <div ng-switch-when="blob" class='reference clickable-area' ng-model="$parent.property.attachment" gemini-attachment></div>
                                    <input id="{{property.argId}}" class="{{property.status}}" ng-switch-default type='text' placeholder='{{property.description}}' ng-model="property.value" />
                                </div>

                                <div ng-switch-when="boolean">
                                    <input id="{{property.argId}}" class="{{property.status}}" type="checkbox" ng-model="property.value" />
                                </div>

                                <div ng-switch-default>
                                    <input id="{{property.argId}}" class="{{property.status}}" type='text' placeholder='{{property.description}}' ng-model="property.value" />
                                </div>

                            </div>

                            <select id="{{property.argId}}" class="{{property.status}}" ng-switch-when="true" ng-model="$parent.property.choice" select="property.conditionalChoices(args)" gemini-conditionalchoices><option value="" disabled selected>{{property.description}}</option></select>

                        </div>
                        <select id="{{property.argId}}" class="{{property.status}}" ng-switch-when="true" ng-model="property.choice" ng-options="c as c.name for c in property.choices"><option value="" disabled selected>{{property.description}}</option></select>
                    </div>
                </div>
                <div class="validation">{{property.message}}</div>
            </div>
        </div>
    </div>
    <div class="collections" ng-include="collectionsTemplate"></div>
</div>
