<div class="object view" ng-class="object.color">
    <div class="header">
        <div class="type">{{object.friendlyName}}</div>
        <div class="title" gemini-drag tabindex="0">{{object.title}}</div>
        <div class="menu clickable-area" tabindex="0" gemini-enter="object.toggleActionMenu()" ng-click="object.toggleActionMenu()" ng-disabled="object.disableActions()" title="Open object actions">
            Actions
        </div>
        <div class="action clickable-area" tabindex="0" gemini-enter="object.doEdit()" ng-click="object.doEdit()" ng-hide="object.hideEdit()">
            Edit
        </div>
        <div class="action clickable-area" tabindex="0" gemini-enter="object.doReload()" ng-click="object.doReload()">
            Reload
        </div>
        <div class="messages">{{object.message}}</div>
    </div>
    <div class="actions" ng-include="actionsTemplate"></div>
    <div class="main-column">
        <div class="dialog" ng-include="dialogTemplate"></div>
        <div class="properties">
            <div class="property" ng-repeat="property in object.properties" ng-switch="property.type">

                <div class="name">{{property.title}}:</div>

                <div ng-switch-when="ref" ng-switch="property.value">
                    <div ng-switch-when=""></div> <!--So that empty reference field is not tabbed onto-->
                    <div ng-switch-default class="reference clickable-area" ng-class="property.color" ng-click="property.doClick()" gemini-rightclick="property.doClick(true)" gemini-drag gemini-enter="property.doClick()" tabindex="0">
                        {{property.value}}
                    </div>
                </div>

                <div ng-switch-when="scalar" ng-switch="property.returnType">

                    <div ng-switch-when="string" ng-switch="property.format">
                        <div ng-switch-when="blob" class='reference clickable-area' ng-model="$parent.property.attachment" gemini-attachment></div>
                     <div ng-switch-default ng-switch="property.multipleLines">
                      <div ng-switch-when="1" class="value">{{property.formattedValue}}</div>
                      <div ng-switch-default class="value multiline" ng-style="{height: $parent.property.multipleLines * 20+'px'}"><pre>{{property.formattedValue}}</pre></div>
                     </div>
                    </div>
                    <div ng-switch-when="boolean">
                        <input type="checkbox" onclick="return false" ng-checked="property.value" disabled="disabled" />
                    </div>

                    <div ng-switch-default>
                        <div class='value'>{{property.formattedValue}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collections" ng-include="collectionsTemplate"></div>
</div>