
:host {
    overflow: hidden; /*To cope with long prop names*/
    display: block;
}

:host:not(:last-child) {
    margin-bottom: 5px;
}

.name {
    display: block;
    float: left;
    width: 150px;
    padding-right: 5px;
}

.reference, .value {
    display: block;
    float: left;
    width: 245px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 1px;
}

.reference {
    cursor: pointer;
}

.multiline {
    overflow: auto;
}
