<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Nakedobjectsspa</title>
  <!-- if installed to IIS virtual directory change baseurl to path eg href="/directoryname/"  -->
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.4f49f1c864713fdd9128.css"></head>
<body class="gemini">
    <app-root><div class="startup-message">Loading...</div></app-root>
<script src="runtime-es2015.0dae8cbc97194c7caed4.js" type="module"></script><script src="runtime-es5.0dae8cbc97194c7caed4.js" nomodule defer></script><script src="polyfills-es5.ea7b0cacd1dd0caf760b.js" nomodule defer></script><script src="polyfills-es2015.652ce996b4c2fc7eaaaa.js" type="module"></script><script src="main-es2015.b475e08d00e01960e0d1.js" type="module"></script><script src="main-es5.b475e08d00e01960e0d1.js" nomodule defer></script></body>
</html>
