<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.9.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.9.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.9.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.9.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.9.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.9.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.5" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="2.10.0" targetFramework="net452" developmentDependency="true" />
  <package id="NakedObjects.Client" version="9.0.6-beta01" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net452" />
</packages>