<div [attr.id]="paneIdName()" [class]="backgroundColor"  [ngClass]="paneType">
	<!--TODO: This is the Single/Split definition-->
	<div class="home">
		<div class="header">
			<div #ttl class="title">Home</div>
			<div class="menus" *ngIf="!hasMenus">
				<div class="menu">Loading menus..</div>
			</div>
			<div #mms class="menus" *ngIf="hasMenus">
				<menu class="menu clickable-area" tabindex="0" *ngFor="let menu of menuItems" (click)="doClick(menu)">
					{{title(menu)}}
				</menu>
			</div>
			<div class="messages"></div>
		</div>
		<div class="main-column">
		<actions class="actions" *ngIf="selectedMenu" [menu]="selectedMenu"></actions>
		<app-dialog *ngIf="selectedMenu" [parent]="selectedMenu"></app-dialog>
		</div>
	</div>
</div>
<router-outlet (activate)="onChild()" (deactivate)="onChildless()"></router-outlet>