<div [attr.id]="paneIdName" [ngClass]="paneType">
	<!--TODO: This is the Single/Split definition-->
	<div class="home">
		<div class="header">
			<div class="title">Home</div>
            <nof-menus class="menus" *ngIf="hasMenus" [menus]="menuItems"></nof-menus> 
			<div class="messages"></div>
		</div>
		<nof-actions class="actions" *ngIf="selectedMenu" [menu]="selectedMenu"></nof-actions>
		<div class="main-column">
		<nof-dialog *ngIf="selectedMenu" [selectedDialogId]="selectedDialogId" [parent]="selectedMenu" ></nof-dialog>
		</div>
	</div>
</div>
<router-outlet (activate)="onChild()" (deactivate)="onChildless()"></router-outlet>
<nof-footer></nof-footer>