.home {
    display: block;
    padding-left: 20px;
    height: 100%;
    overflow-y: auto;
    color: white;
    font-size: 11pt; 
    font-weight: 100;
}

.header {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}

.title {
    display: block;
    position: relative;
    font-weight: 200;
    font-size: 24pt;
    line-height: 38pt;
    margin-left: 1px; /*Make room for focus outline */
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 20px;
    margin-top: 2px;
    display: block;
}

.main-column{
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

p {
    color: white;
}