/*Global*/

.spiro
{
      font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
      color: white;
}

.spiro *
{
    /*Specifies that padding & border are added INSIDE the specified width*/
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox-specific syntax*/
}

a
{
    color: white;
    text-decoration: none; /*Override default underlining of links*/
}

/*Make the main view fill the vertical space*/
html
{
    height: 100%;
}

body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

#main
{
    height: 100%;
}

.object-view
{
    height: 100%;
    padding-left: 80px; 
    overflow: scroll; 
    padding-bottom:  63px; /*So that app-bar is only overlaying padding*/
}



/*Services*/
.service
{  
    height: 150px;
    width: 150px;
    margin-right: 10px; margin-bottom: 10px;
    padding: 10px;
    float: left;
}

.service a
{
    font-weight: 200;
    font-size: 16pt;
    line-height: 24pt;
}

/*Title & Icons in sub-panes*/

.cancel, .expand, .list, .table, .save
{
    float:right; padding-right: 5px; padding-top: 5px; color: white;
    font-size: 12pt;
}

.cancel:hover, .expand:hover, .list:hover, .table:hover
{
    color: lightblue;
}

.icon-plus
{
    padding-right: 5px;
}

.title {

  font-weight: 200;
  letter-spacing: 0.01em;
  font-size: 16pt;
  line-height: 18pt;
  padding-bottom: 5px;
  padding-left: 5px;
}



/*Page header*/
.header
{
    width: 100%;
    position: relative;
    height:auto;
    min-height: 140px;   
    color: white;
}
.header .title
{
    position: relative;
    top: 40px;
    font-weight: 200;
    font-size: 32pt; line-height: 38pt;
    float: left;
}

.header .type
{
    display: none;  /*Comment-out to show Type in header*/
    position: relative;
    top: 50px;
    float: left;
    font-size: 24pt; line-height: 44pt;
    margin-left: 20px;
}

.header .messages
{
    width:initial;
        position: relative;
        top: 40px;
        font-weight: 200;
  font-size: 16pt; line-height: 18pt;
    color: red;
  background-color: white;
  padding-left: 5px;
}

/*Fix to make the whole tile/reference link act as a link*/
.clickable-area
{
    position: relative;
}

    .clickable-area a span
    {
        position: absolute;
        width: 100%;
        height: 100%;
    }

/*app-bar*/
.app-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
}

.app-bar a
{
    color: white;
    font-size: 36pt;
    padding: 5px;
    margin-left: 10px;
}

.app-bar a.disabled
{
    display:none;
}

.app-bar a:hover
{
     outline-style:solid; outline-width: 1px; outline-color: white;
}

.app-bar a:active
{
     outline-style:solid; outline-width: 2px; outline-color: white;
}


/*Main properties within object view*/
.properties-pane
{
    float:left;
}

.object-properties
{
    margin-right: 5px; /*Because there is already 5px padding of the background color c.f. nested-object*/
    margin-bottom: 10px;
}

/*Properties sub-pain */
.properties
{
    padding-left: 5px; padding-right: 5px;padding-bottom: 5px;
    width: 390px; 
    overflow: hidden; 
}

.properties.edit
{
    padding-left: 5px; padding-right: 5px;padding-bottom: 5px;
    width: 550px; 
    overflow: hidden; 
}


.property
{
    overflow: hidden; 
}

.property-name
{
     float:left; width: 150px;  padding-right:5px; margin-bottom: 5px;
}
.property-value
{
      float:left; padding-left: 5px; padding-right: 5px; margin-bottom: 5px; min-height: 19px;
}
.property-reference
{
     float:left; width: 230px; 
     padding-left: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px;
     margin-bottom: 5px;
   
}

 .property-reference a
    {
    color: white;
    }

.property-collection
{
     float:left; width: 230px; 
     padding-left: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px;
     margin-bottom: 5px;
}

/*ACTION MENU*/
.actions-pane
{
    float:left;
}

.actions
{
    width: 150px; 
    margin-right: 10px; 
    margin-bottom: 10px; 
}

.action-button
{
    width: 100%;
    padding: 5px; margin-bottom: 10px;
    background-color:white;
}

.action-button .action
{
    color: black;
}

/* NESTED OBJECT */
.object-pane
{
    float:left;
}

.nested-object
{
    margin-right: 10px;
    margin-bottom: 10px;
}

.nested-object h3
{
    padding-left: 5px;
}
/* ACTION DIALOG */
.dialog-pane
{
    float:left;
}

.action-dialog
{
    width: 390px; 
    margin-right: 10px; 
    margin-bottom: 10px; 
    overflow: hidden; /*Needed to force the floated divs inside this to expand the containing div in height*/
    background-color:white;
    color: black;
}


.action-dialog .cancel
{
    color: black;
}

.parameters
{
    padding-left: 5px;
}

.parameter-name
{
     float:left; width: 150px;  padding-right:5px; margin-bottom: 5px;
}
.parameter-value
{
      float:left; width: 230px; padding-left: 5px; padding-right: 5px; margin-bottom: 5px; color: red;
}

/* NESTED COLLECTION */
.collection-pane
{
    float:left;
}

.list-item
{
    padding-top: 2px;
    padding-bottom: 2px;
}

.items .properties
{
    margin-bottom: 5px;
}


.list-view
{

    margin-right: 10px; 
    margin-bottom: 10px; 
    overflow: hidden; 
}
    .list-view h3
    {
         width: 390px;
    }


.list-view .items
{
         width: 390px; 
    overflow: hidden;
}

.list-item
{
    width: 100%;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.table-view
{
    overflow: hidden; 
     margin-right: 10px; margin-bottom: 10px;
     border: 1px;
}

.table-view .items
{
    min-width: 390px;
    display: table;
    border-top: solid;
    border-right:solid;  /*Left & bottom handled by cell*/
    border-width: 1px;
}
.table-view .properties
{
    width:auto;
    padding: 0px;
    display: table-row;
    border-bottom: 1px solid white;
}


.cell
{
    font-size: small;
    width: 80px;
    padding-left: 5px;
    padding-right: 5px;
    display: table-cell;
    border-left: solid;
    border-bottom: solid;
    border-width: 1px;
}

.cell:last-child
{
    margin-right: 5px;
}

.table-view .properties:first-child .cell /*Column headers*/
{
    border-bottom: 2px solid white;
    padding: 5px 5px 5px 5px;
}

/*Hovering & active behaviour*/
.property-reference:hover, .property-collection:hover, .list-item:hover, .action-button:hover, input
{
     outline-style:auto; outline-width: 1px; outline-color: black;
}

.property-reference:active, .property-collection:active, .list-item:active, .action-button:active
{
     outline-style:auto; outline-width: 1px; outline-color: white;
}

input
{
    outline-style:none;
}

input:hover
{
     outline-style:solid; outline-width: 1px; outline-color: black;
}

input:active
{
     outline-style:solid; outline-width: 1px; outline-color: white;
}

.service:hover
{
    outline-style:solid; outline-width: 1px; outline-color: white;
}

.service:active
{
    outline-style:solid; outline-width: 2px; outline-color: white;
}



/* Colours */
.bg-color-blue {
  background-color: #2d89ef;
}
.bg-color-blueLight {
  background-color: #66ccff;
}
.bg-color-blueDark {
  background-color: #2b5797;
}
.bg-color-darkBlue { /*Temporary fix*/
  background-color: #1d1d1d;
}
.fg-color-darkBlue { /*Temporary fix*/
  color: #1d1d1d;
}
.bg-color-green {
  background-color: #00a300;
}
.bg-color-greenLight {
  background-color: #99b433;
}
.bg-color-greenDark {
  background-color: #1e7145;
}
.bg-color-red {
  background-color: #b91d47;
}
.bg-color-yellow {
  background-color: #ffc40d;
}
.bg-color-orange {
  background-color: #e3a21a;
}
.bg-color-orangeDark {
  background-color: #da532c;
}
.bg-color-pink {
  background-color: #9f00a7;
}
.bg-color-pinkDark {
  background-color: #7e3878;
}
.bg-color-purple {
  background-color: #603cba;
}
.bg-color-darken {
  background-color: #1d1d1d;
}
.bg-color-lighten {
  background-color: #d5e7ec;
}
.bg-color-white {
  background-color: #ffffff;
}
.bg-color-grayDark {
  background-color: #525252;
}
.bg-color-magenta {
  background-color: #ff0097;
}
.bg-color-teal {
  background-color: #00aba9;
}
.bg-color-redLight {
  background-color: #ee1111;
}


[class^="icon-"], [class*=" icon-"] {
    font-family: "iconFont";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
    position: relative;
}

/*Icons*/
@font-face {
  font-family: "iconFont";
  src: url('../fonts/iconFont.eot');
  src: url('../fonts/iconFont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconFont.svg#iconFont') format('svg'), url('../fonts/iconFont.woff') format('woff'), url('../fonts/iconFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon-home:before {
  content: "\e000";
}
.icon-arrow-left-3:before {
  content: "\e09f";
}
.icon-arrow-right-3:before {
  content: "\e09d";
}
.icon-loop:before {
  content: "\e08f";
}
.icon-pencil:before {
  content: "\e002";
}
.icon-help:before {
  content: "\e085";
}
.icon-cancel:before {
  content: "\e088";
}
.icon-enter:before {
  content: "\e08d";
}
.icon-plus:before {
  content: "\e083";
}
.icon-minus:before {
  content: "\e084";
}

/*Buttons*/
input[type=button],
input[type=reset],
input[type=submit] {
  font-weight: 400;
  line-height: 13pt;
  font-size: 11pt;
  display: inline-block;
  padding: 4px 12px;
  text-align: center;
  vertical-align: middle;
  min-width: 90px;
  min-height: 32px;
  height: 32px;
  border: 1px transparent solid;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: auto;
  *zoom: 1;
  border-radius: 0;
  color: white;
  background-color: #008287;
}

/*TEMPORARY FIXES*/
.header .messages
{
    display: none;
}