<div class="name">{{title}}:</div>

<div *ngIf="propertyType === 'ref'">
    <div [ngSwitch]="propertyRefType">
        <div *ngSwitchCase="null"></div>
        <div *ngSwitchCase="'notNavigable'">
            <div class="value">{{formattedValue}}</div>
        </div>
        <div *ngSwitchDefault class="reference" [ngClass]="color" geminiClick (leftClick)="doClick()"
             (rightClick)="doClick(true)" dnd-draggable [dragEnabled]="true" [dragData]="property" tabindex="0">
            {{formattedValue}}
        </div>
    </div>
</div>

<div *ngIf="propertyType === 'scalar'">
    <div [ngSwitch]="propertyReturnType">
        <div *ngSwitchCase="'string'">

            <nof-attachment-property *ngIf="isBlob" [attachment]="attachment"></nof-attachment-property>
            <div *ngIf="!isBlob">
                <div *ngIf="!isMultiline" class="value">
                    {{formattedValue}}
                </div>
                <div *ngIf="isMultiline" class="value multiline" [ngStyle]="{height : multilineHeight}">
                    <pre>{{formattedValue}}</pre>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="'boolean'">
            <input type="checkbox" [checked]="value" disabled="disabled" />
        </div>

        <div *ngSwitchDefault>
            <div class="value">{{formattedValue}}</div>
        </div>
    </div>
</div>