.reference {
    cursor: pointer;
}

img {
    max-width: var(--field-value-width);
    max-height: 100px;
}

.value {
    display: block;
    float: left;
    width: var(--field-value-width);
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    margin: var(--space-1);
}