<div class="name">
    <label attr.for="{{parameterPaneId}}">{{title}}</label>
</div>

<ng-container *ngIf="parameterType === 'ref'">
    <div class="value">{{formattedValue}}</div>
</ng-container>

<ng-container *ngIf="parameterType === 'scalar'" >
    <ng-container [ngSwitch]="parameterReturnType">
        <ng-container *ngSwitchCase="'string'">
            <div *ngIf="!isMultiline" class="value">
                {{formattedValue}}
            </div>
            <div *ngIf="isMultiline" class="value multiline" [ngStyle]="{height : multilineHeight}">
                <pre>{{formattedValue}}</pre>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'boolean'">
            <input type="checkbox" [checked]="value" disabled="disabled" />
        </ng-container>

        <ng-container *ngSwitchDefault>
            <div class="value">{{formattedValue}}</div>
        </ng-container>
    </ng-container>
</ng-container>




