:host {
    width: var(--field-value-width);
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    padding-top: var(--space-1);
    margin-top: var(--space-1);
    margin-bottom: var(--space-1);
}

:host.multilinedialog {
    padding-left: var(--space-4);
    width: 247px;
    display: inline-block;
    overflow: auto;
}

:host.multilinedialog .name {
    display: none;
}

.reference {
    cursor: pointer;
}