:host {
    width: 245px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}

:host.multilinedialog {
    padding-left: 10px;
    width: 247px;
    display: inline-block;
    overflow: auto;
}

:host.multilinedialog .name {
    display: none;
}

.reference {
    cursor: pointer;
}