<div [ngClass]="class"> <!--TODO: This is the Single/Split definition-->
    <div class="header">
        <div class="viewtitle" >Home</div>
        <div class="menus" *ngIf="!menus"><div class="menu">Loading menus..</div></div>
        <div class="menus" *ngIf="menus">
            <menu class="menu clickable-area" tabindex="0" *ngFor="let menu of menus.items" (click)="doClick(menu)">
                {{menu.title}}
            </menu>
        </div>
        <div class="messages"></div>
    </div>
    <actions *ngIf="selectedMenu" [menuVm]="selectedMenu"></actions>
    <dialog *ngIf="selectedMenu"  [parent]="selectedMenu"></dialog>
</div>
<router-outlet (activate)="onChild()" (deactivate)="onChildless()"></router-outlet>
