<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSBuildTasks" version="1.4.0.88" targetFramework="net452" />
  <package id="NakedObjects.Ide" version="8.0.0-alpha" targetFramework="net452" />
  <package id="Selenium.Support" version="2.45.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.45.0" targetFramework="net452" />
</packages>