<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net451" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="MSBuildTasks" version="1.4.0.65" targetFramework="net451" />
  <package id="NakedObjects.Core" version="6.0.3" targetFramework="net451" />
  <package id="NakedObjects.ProgrammingModel" version="6.0.0" targetFramework="net451" />
  <package id="NakedObjects.Surface" version="3.0.0" targetFramework="net451" />
  <package id="NakedObjects.Surface.Nof4" version="3.0.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="WebActivatorEx" version="2.0.5" targetFramework="net451" />
</packages>