<div id="pane1" class="single">
    <div class="applicationproperties">
        <div class="header">
            <div class="title">Application Properties</div>
        </div>
        <div class="main-column">
            <div class="properties">
                <div class="property">
                    Application Name: {{applicationName}}
                </div>
                <div class="property">
                    User Name: {{userName}}
                </div>
                <div class="property">
                    Server Url: {{serverUrl}}
                </div>
                <div class="property">
                    Server API version: {{apiVersion}}
                </div>
                <div class="property">
                    Server version: {{implVersion}}
                </div>
                <div class="property">
                    Client version: {{clientVersion}}
                </div>
            </div>
        </div>
    </div>
</div>
