
:host {
    display: block;
    padding-left: 20px;
    height: 100%;
    overflow-y: auto;
}

.title, .message, .code, .description, .stacktrace{
    display: block;
    margin-bottom: 20px;
}

.title {
    font-size: 24pt;
    color: red;
}

.message {
    font-size: 16pt;
    color:white;
}

 .code, .description, .stacktrace {
    font-size: 12pt;
    color: white;
}