input {
    /*To override user agent style sheet defaults*/
    white-space: normal;
    /*Needed to force long names to wrap*/
    text-align: left;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: var(--font-size-2);
    color: var(--contrast-text-color);
    padding: var(--space-3);
    font-weight: var(--font-weight-1);
}

input:focus, input:hover {
    outline-color: var(--contrast-outline-color);
    outline-style: solid;
    outline-width: 1px;
}

input:disabled {
    color: var(--disabled-color);
    outline: none;
}