:host {
    overflow-y: auto;
    color: var(--default-text-color);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
    display: block;
    margin-left: var(--space-5);
    padding-bottom: 60px;
}

viewTitle {
    display: inline-block;
    /*Otherwise focus outline takes full width*/
}

.title, .header .type {
    position: relative;
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-4);
    line-height: 38pt;
    margin-left: var(--space-1);
    /*Make room for focus outline*/
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    margin-right: var(--space-5);
    margin-top: var(--space-1);
    display: block;
}

.header .type {
    float: left;
    margin-right: var(--space-5);
    display: none;
    /*Change this to display type (e.g. for accessibility)*/
}

nof-parameters {
    display: inline-block;
}

.columnHeader {
    display: inline-block;
    vertical-align: top;
    width: var(--field-value-width);
    padding-left: var(--space-4);
}

input.ok {
    font-size: var(--font-size-1);
    height: var(--field-value-height);
    margin-top: var(--space-1);
    margin-right: 0px;
    margin-left: var(--space-1);
    margin-bottom: var(--space-3);
    padding-top: var(--space-1);
    padding-bottom: 0px;
    padding-left: var(--space-1);
    padding-right: var(--space-1);
    vertical-align: top;
}

input.close {
    float: left;
    margin-left: 6px;
    margin-right: var(--space-4);
}

.count {
    display: inline-block;
    margin-top: var(--space-1);
}

.co-validation {
    display: inline-block;
}