
:host {
    cursor:pointer;
}

td {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1); /*Override browser default*/
    text-align: left;
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    vertical-align: top;
}

td.checkbox {
    background-color: var(--default-background-color); /* Because check-box only ever displayed on default background*/
}

.number {
    text-align:right;
}

.reference {  /*i.e. in  List, not Table mode */
    cursor: pointer;
    font-size: var(--font-size-2);
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    margin: var(--space-1);
    width: var(--table-width);
}
.reference:not(:last-child) {
   margin-bottom: var(--space-3);
}