:host {
    overflow-y: auto;
    color: var(--default-text-color);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
    display: block;
    height: 100%;
}

.object {
    height: 100%;
    display: block;
    padding-left: var(--space-5);
    overflow-y: auto;
}

.header {
    display: block;
    margin-bottom: var(--space-5);
    overflow: hidden;
    color: var(--contrast-text-color);
    background-image: var(--header-background-image);
}

viewTitle {
    display: inline-block;
    /*Otherwise focus outline takes full width*/
}

.title, .type {
    position: relative;
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-4);
    line-height: 38pt;
    margin-left: var(--space-1);
    /*Make room for focus outline*/
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    margin-right: var(--space-5);
    margin-top: var(--space-1);
    display: inline-block;
}

.type {
    float: left;
    margin-right: var(--space-5);
    display: none;
    /*Change this to display type (e.g. for accessibility)*/
}

/* Menus */

.menus {
    display: block;
}

.menu, .header .action {
    display: block;
    float: left;
    padding: var(--space-3);
    margin-top: 0px;
    margin-left: var(--space-1);
    /*Else hover outline is hidden on the left-most menu */
    margin-right: var(--space-4);
    margin-bottom: var(--space-3);
    /*Else hover outline is hidden on the bottom */
    font: inherit;
    font-size: var(--font-size-3);
    color: var(--default-text-color);
    background-color: transparent;
}

.menu:disabled {
    color: var(--disabled-color);
}

.title:hover, .title:focus {
    outline-color: var(--contrast-outline-color);
    outline-style: solid;
    outline-width: 1px;
}

/*Icons*/

.icon-expand:before {
    content: "\e099";
}

.icon-collapse:before {
    content: "\e098";
}

.actions, .main-column {
    float: left;
    margin-bottom: var(--space-5);
    margin-right: var(--space-5);
}
