/* Calendar view customisation - mostly overriding default FullCalendar styling*/

.calendar {
    width: 800px;
    margin: 5px;
}

.fc-button {
    border-color: white;
    box-shadow: none;
    background-color: initial;
    text-shadow: none;
    color: white;
}

.fc-state-default.fc-corner-left, .fc-state-default.fc-corner-right { /* non-theme */
	border-radius: 0px;
}

.fc-state-default {
    background-image: none;
}

.fc-unthemed .fc-today {
    background: none;
}

.fc-day-number.fc-today {
    font-weight: bold;
}
.fc-event  {
    border-radius: 0px;
}
.fc-day-grid-event .fc-time {
    font-weight:normal;
}

.fc-toolbar h2 {
    font-weight: normal;
}